@model VBookHaven.Models.ViewModels.ShippingInfoVM
@{
    ViewData["Title"] = "CreateShipInfo";
    Layout = "~/Areas/Customer/Views/Shared/_CustomerManageLayout.cshtml";
}

<h2>Thêm địa chỉ nhận hàng mới</h2>
<div class="bg-light p-5 mt-2">
    <form asp-action="CreateShipInfo" asp-route-returnUrl="~/customer/account/ShipInfo" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="@Model.CustomerId" />
        <div class=" mb-3 row ">
            <label asp-for="@Model.ShippingInfo.CustomerName" class="col-sm-2 col-form-label">Họ và tên: </label>
            <div class="col-sm-10 ">
                <input class="form-control" asp-for="@Model.ShippingInfo.CustomerName">
                <span asp-validation-for="@Model.ShippingInfo.CustomerName" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row ">
            <label asp-for="@Model.ShippingInfo.Phone" class="col-sm-2 col-form-label ">Số điện thoại</label>
            <div class="col-sm-10 ">
                <input asp-for="@Model.ShippingInfo.Phone" class="form-control">
                <span asp-validation-for="@Model.ShippingInfo.Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-5 row ">
            <label class="col-sm-2 col-form-label ">Tỉnh/Thành phố</label>
            <div class="col-sm-10 ">
                <select asp-for="@Model.ShippingInfo.ProvinceCode" class="single-select" id="province">
                <option value="" selected>Chọn Tỉnh/Thành Phố</option>
                </select>
                <span asp-validation-for="@Model.ShippingInfo.ProvinceCode" class="text-danger"></span>
                <input id="provinceString" asp-for="@Model.ShippingInfo.Province" hidden class="form-control" />
            </div>
        </div>
        <div class="mb-5 row ">
            <label class="col-sm-2 col-form-label ">Quận huyện</label>
            <div class="col-sm-10 ">
                <select asp-for="@Model.ShippingInfo.DistrictCode" class="single-select" id="district">
                    <option selected value="">Chọn Quận/Huyện</option>
                </select>
                <span asp-validation-for="@Model.ShippingInfo.DistrictCode" class="text-danger"></span>
                <input hidden id="districtString" asp-for="@Model.ShippingInfo.District" class="form-control" />
            </div>
        </div>
        <div class="mb-5 row ">
            <label class="col-sm-2 col-form-label ">Phường xã</label>
            <div class="col-sm-10 ">
                <select asp-for="@Model.ShippingInfo.WardCode" class="single-select" id="ward">
                    <option selected value="">Chọn Phường/Xã</option>
                </select>
                <span asp-validation-for="@Model.ShippingInfo.WardCode" class="text-danger"></span>

                <input hidden id="wardString" asp-for="@Model.ShippingInfo.Ward" class="form-control" />
            </div>
        </div>
        <div class="mb-5 row ">
            <label asp-for="@Model.ShippingInfo.ShipAddress" class="col-sm-2 col-form-label ">Địa chỉ</label>
            <div class="col-sm-10 ">
                <textarea asp-for="@Model.ShippingInfo.ShipAddress" class="form-control " rows="10 "></textarea>
                <span asp-validation-for="@Model.ShippingInfo.ShipAddress" class="text-danger"></span>
            </div>
        </div>

        @if (@Model.shippingInfosIsNull)
        {
            <div class="mb-5 row ">
                <label class="col-sm-2 col-form-label "></label>
                <div class="col-sm-10 ">
                    <div class="form-check form-check-inline ms-4 ">
                        <input asp-for="@Model.IsDefault" class="form-check-input" disabled>
                        <input asp-for="@Model.IsDefault" class="form-check-input" hidden />
                        <label class="form-check-label">Đặt làm địa chỉ mặc định</label>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="mb-5 row ">
                <label class="col-sm-2 col-form-label "></label>
                <div class="col-sm-10 ">
                    <div class="form-check form-check-inline ms-4 ">
                        <input class="form-check-input " asp-for="@Model.IsDefault">
                        <label class="form-check-label ">Đặt làm địa chỉ mặc định</label>
                    </div>
                </div>
            </div>
        }
        <div class="mb-5 row ">
            <div class="col-4 "></div>
            <div class="col-2 text-center "><button class="submit-btn-1 ">Lưu</button></div>
            <div class="col-4 "></div>
        </div>
    </form>
    <div>
        <a asp-action="ShipInfo">Quay lại danh sách địa chỉ</a>
    </div>
</div>

@*   <div class="mb-5 row ">
            <label class="col-sm-2 col-form-label ">Tỉnh/Thành phố</label>
            <div class="col-sm-10 ">
                <select class="single-select ">
                    <option value="United States ">United States</option>
                    <option value="United Kingdom ">United Kingdom</option>
                    <option value="Afghanistan ">Afghanistan</option>
                    <option value="Aland Islands ">Aland Islands</option>
                </select>
            </div>
        </div>
        <div class="mb-5 row ">
            <label class="col-sm-2 col-form-label ">Quận huyện</label>
            <div class="col-sm-10 ">
                <select class="single-select ">
                    <option value="United States ">United States</option>
                    <option value="United Kingdom ">United Kingdom</option>
                    <option value="Afghanistan ">Afghanistan</option>
                    <option value="Aland Islands ">Aland Islands</option>
                </select>
            </div>
        </div>
        <div class="mb-5 row ">
            <label class="col-sm-2 col-form-label ">Phường xã</label>
            <div class="col-sm-10 ">
                <select class="single-select ">
                    <option value="United States ">United States</option>
                    <option value="United Kingdom ">United Kingdom</option>
                    <option value="Afghanistan ">Afghanistan</option>
                    <option value="Aland Islands ">Aland Islands</option>
                </select>
            </div>
        </div>*@
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/address.js"></script>
}


