@model VBookHaven.Models.ViewModels.ShippingInfoVM
@{
    ViewData["Title"] = "EditShipInfo";
    Layout = "~/Areas/Customer/Views/Shared/_CustomerManageLayout.cshtml";
}

<h2>Thêm địa chỉ nhận hàng mới</h2>
<div class="bg-light p-5 mt-2">
    <form asp-action="EditShipInfo" asp-route-returnUrl="~/customer/account/ShipInfo" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="@Model.CustomerId" />
        <input type="hidden" asp-for="@Model.ShippingInfo.ShipInfoId" />
        <div class=" mb-3 row ">
            <label asp-for="@Model.ShippingInfo.CustomerName" class="col-sm-2 col-form-label ">Họ và tên: </label>
            <div class="col-sm-10 ">
                <input type="text " class="form-control " asp-for="@Model.ShippingInfo.CustomerName">
                <span asp-validation-for="@Model.ShippingInfo.CustomerName" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row ">
            <label asp-for="@Model.ShippingInfo.Phone" class="col-sm-2 col-form-label ">Số điện thoại</label>
            <div class="col-sm-10 ">
                <input asp-for="@Model.ShippingInfo.Phone" class="form-control ">
                <span asp-validation-for="@Model.ShippingInfo.Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-5 row ">
            <label asp-for="@Model.ShippingInfo.ShipAddress" class="col-sm-2 col-form-label ">Địa chỉ</label>
            <div class="col-sm-10 ">
                <textarea asp-for="@Model.ShippingInfo.ShipAddress" class="form-control " rows="10 "></textarea>
                <span asp-validation-for="@Model.ShippingInfo.ShipAddress" class="text-danger"></span>
            </div>
        </div>
        @if (@Model.IsDefault)
        {
            <div class="mb-5 row ">
                <label class="col-sm-2 col-form-label "></label>
                <div class="col-sm-10 ">
                    <div class="form-check form-check-inline ms-4 ">
                        <input asp-for="@Model.IsDefault" class="form-check-input" hidden />
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="mb-5 row ">
                <label class="col-sm-2 col-form-label "></label>
                <div class="col-sm-10 ">
                    <div class="form-check form-check-inline ms-4 ">
                        <input class="form-check-input " asp-for="@Model.IsDefault">
                        <label class="form-check-label ">Đặt làm địa chỉ mặc định</label>
                    </div>
                </div>
            </div>
        }
        <div class="mb-5 row ">
            <div class="col-4 "></div>
            <div class="col-2 text-center "><button class="submit-btn-1 ">Lưu</button></div>
            <div class="col-4 "></div>
        </div>
    </form>
    <div>
        <a asp-action="ShipInfo">Quay lại danh sách</a>
    </div>
</div>
@*<div class="mb-5 row ">
    <label class="col-sm-2 col-form-label ">Tỉnh/Thành phố</label>
    <div class="col-sm-10 ">
        <select class="single-select ">
            <option value="United States ">United States</option>
            <option value="United Kingdom ">United Kingdom</option>
            <option value="Afghanistan ">Afghanistan</option>
            <option value="Aland Islands ">Aland Islands</option>
        </select>
    </div>
</div>
<div class="mb-5 row ">
    <label class="col-sm-2 col-form-label ">Quận huyện</label>
    <div class="col-sm-10 ">
        <select class="single-select ">
            <option value="United States ">United States</option>
            <option value="United Kingdom ">United Kingdom</option>
            <option value="Afghanistan ">Afghanistan</option>
            <option value="Aland Islands ">Aland Islands</option>
        </select>
    </div>
</div>
<div class="mb-5 row ">
    <label class="col-sm-2 col-form-label ">Phường xã</label>
    <div class="col-sm-10 ">
        <select class="single-select ">
            <option value="United States ">United States</option>
            <option value="United Kingdom ">United Kingdom</option>
            <option value="Afghanistan ">Afghanistan</option>
            <option value="Aland Islands ">Aland Islands</option>
        </select>
    </div>
</div>*@