@model VBookHaven.Models.ViewModels.ShippingInfoVM
@{
    ViewData["Title"] = "EditShipInfo";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h1>EditShipInfo</h1>
<div class="mx-auto">
    <h3 class="mb-0 text-uppercase">Sửa loại sản phẩm</h3>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditShipInfo" asp-route-returnUrl="~/customer/account/ShipInfo" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="@Model.CustomerId" />
                <input type="hidden" asp-for="@Model.ShippingInfo.ShipInfoId" />
                <div class="form-group">
                    <label asp-for="@Model.ShippingInfo.CustomerName" class="control-label"></label>
                    <input asp-for="@Model.ShippingInfo.CustomerName" class="form-control" />
                    <span asp-validation-for="@Model.ShippingInfo.CustomerName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.ShippingInfo.Phone" class="control-label"></label>
                    <input asp-for="@Model.ShippingInfo.Phone" class="form-control" />
                    <span asp-validation-for="@Model.ShippingInfo.Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.ShippingInfo.ShipAddress" class="control-label"></label>
                    <input asp-for="@Model.ShippingInfo.ShipAddress" class="form-control" />
                    <span asp-validation-for="@Model.ShippingInfo.ShipAddress" class="text-danger"></span>
                </div>
                @if(@Model.IsDefault){
                <div class="form-group">
                    <input asp-for="@Model.IsDefault" class="form-control" hidden />
                </div>
                }else{
                <label asp-for="@Model.IsDefault" class="control-label"></label>
                <input asp-for="@Model.IsDefault" class="form-control" />
                <span asp-validation-for="@Model.IsDefault" class="text-danger"></span>
                }
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="ShipInfo">Quay lại danh sách</a>
    </div>
</div>