@using VBookHaven
@model VBookHaven.Areas.Customer.Controllers.AccountOrderDetailViewModel
@{
    ViewData["Title"] = "OrderDetail";
    Layout = "~/Areas/Customer/Views/Shared/_CustomerManageLayout.cshtml";

    string imageRoot = Config.ImageRoot;

    string fullStatus = "";
    switch (Model.Order.Status)
    {
        case OrderStatus.Wait:
            fullStatus = "Chờ nhân viên xác nhận";
            break;
        case OrderStatus.Process:
            fullStatus = "Đang xử lí đơn hàng";
            break;
        case OrderStatus.Shipping:
            fullStatus = "Đang vận chuyển hàng";
            break;
        case OrderStatus.Shipped:
            fullStatus = "Giao hàng thành công";
            break;
        case OrderStatus.Done:
            fullStatus = "Giao hàng thành công";
            break;
        case OrderStatus.Cancel:
            fullStatus = "Đơn hàng đã bị hủy";
            break;
    }

    int total = 0;
}

<div class="col-lg-12">
    <h2>Chi tiết đơn hàng #@Model.Order.OrderId - @fullStatus</h2>
    <div class="card info">
        <div class="card-body row px-0">
            <div class="col-lg-4">
                <h6 class="text-uppercase my-3">Địa chỉ người nhận</h6>
                <div class="p-4 detail-content">
                    <h6 class="text-uppercase fw-bold">@Model.Order.CustomerName</h6>
                    <p>Địa chỉ: @(Model.Order.ShipAddress == null ? "" : Model.Order.ShipAddress)</p>
                    <p>Số điện thoại: @(Model.Order.Phone == null ? "" : Model.Order.Phone)</p>
                </div>
            </div>
            <div class="col-lg-4">
                @*<h6 class="text-uppercase my-3">Phương thức giao hàng</h6>
                <div class="p-3 detail-content">
                    <p>Giao tiết kiệm</p>
                    <p>Giao vào: 8/8/2023</p>
                    <p>Được giao bởi đơn vị...</p>
                    <p>Miễn phí vận chuyển</p>
                </div>*@
            </div>
            <div class="col-lg-4">
                @*<h6 class="text-uppercase my-3">Hình thức thanh toán</h6>
                <div class="p-3 detail-content">
                    <p>Thanh toán tiền mặt khi nhận hàng</p>
                </div>*@
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="card info my-3">
        <div class="card-body bg-light">
            <table class="table table-hover table-borderless">
                <thead>
                    <tr>
                        <th class="col-lg-6">Sản phẩm</th>
                        <th class="col-lg-1">Đơn giá</th>
                        <th class="col-lg-1">Số lượng</th>
                        <th class="col-lg-2 text-center">Chiết khấu</th>
                        <th class="col-lg-2 text-end">Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var detail in Model.Details)
                    {
                        <tr>
                            <td class="d-flex">
                                @if (Model.Thumbnails[detail.ProductId] == null)
                                {
                                    <img src="~/images//default_image.png" alt="">
                                }
                                else
                                {
                                    <img src="@imageRoot/images/img/@Model.Thumbnails[detail.ProductId]" alt="">
                                }
                                <div class="ms-2">
                                    <h6 class="p-3 fw-bolder text-dark">@detail.Product.Name</h6>
                                    <button class="btn btn-outline-primary"
                                        onclick="window.location.href='/Customer/Product/Detail/@detail.ProductId'">
                                        Chi tiết
                                    </button>
                                </div>
                            </td>
                            <td>@detail.UnitPrice.Value.ToString("#,0") VNĐ</td>
                            <td>@detail.Quantity.Value.ToString("#,0")</td>
                            <td class="text-center">@detail.Discount%</td>
                            @{
                                int itemTotal = (int)(detail.UnitPrice.Value * (1 - detail.Discount.Value / 100) * detail.Quantity.Value);
                                total += itemTotal;
                                <td class="text-end">@itemTotal.ToString("#,0") VNĐ</td>
                            }
                        </tr>
                    }
                </tbody>
                <tfoot>
                    @*<tr>
                        <td colspan="3"></td>
                        <td class="text-end">Tạm tính</td>
                        <td class="text-end">45000 đ</td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td class="text-end">Phí vận chuyển</td>
                        <td class="text-end">0 đ</td>
                    </tr>*@
                    <tr>
                        <td colspan="3"></td>
                        <td class="text-end">Tổng cộng</td>
                        <td class="text-end text-danger fw-bold fs-3">@total.ToString("#,0") VNĐ</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        @if (Model.Order.Status.Equals(OrderStatus.Wait))
        {
            <div>
                <button class="btn btn-outline-danger"
                    onclick="document.getElementById('cancel-order-form').submit()"
                    style="float: right; margin-top: 20px;">
                    Hủy đơn
                </button>
                <form hidden id="cancel-order-form" action="/Customer/Account/CancelOrderFromDetail"
                  method="post">
                    <input name="id" value="@Model.Order.OrderId" />
                </form>
            </div>
        }
        <a href="/Customer/Account/Orders" class="fs-3 my-3">
            <i class="zmdi zmdi-arrow-left"></i> Quay lại đơn hàng của tôi
        </a>
    </div>
</div>
