@model VBookHaven.Models.ViewModels.ShippingInfoVM
@{
    ViewData["Title"] = "Địa chỉ";
    Layout = "~/Areas/Customer/Views/Shared/_LayoutCustomerManage.cshtml";
}
<h2>Số địa chỉ</h2>
<div class="card address">
    <div class="card-body row bg-light">
        <h6 class="card-title my-3" id="add-address">
            <a asp-action="CreateShipInfo"><i class="zmdi zmdi-hc-lg zmdi-plus"></i> Thêm địa chỉ mới</a>
        </h6>
    </div>
</div>
@foreach (var item in Model.ShippingInfos)
{
    @if (item.Customers.Count > 0)
    {
        <div class="card address">
            <div class="card-body row bg-light">
                <div class="col-md-9">
                    <h6 class="card-title mt-3 mb-4">
                        @item.CustomerName
                        <span>
                            <i class="zmdi zmdi-check-circle"></i>
                            Địa chỉ mặc định
                        </span>
                    </h6>
                    <p class="card-text">
                        Địa chỉ:
                        <strong> @item.ShipAddress,</strong>
                        <strong> @item.Ward, @item.District, @item.Province</strong>
                    </p>
                    <p class="card-text">
                        Địa thoại:
                        <strong> @item.Phone</strong>
                    </p>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-primary m-1" asp-action="EditShipInfo" asp-route-shipInfoId="@item.ShipInfoId">Chỉnh sửa</a>
                </div>
            </div>
        </div>
        break;
    }       
 }
@foreach (var item in Model.ShippingInfos)
{
    @if (item.Customers.Count == 0)
    {
        <div class="card address">
            <div class="card-body row bg-light">
                <div class="col-md-9">
                    <h6 class="card-title mt-3 mb-4"> @item.CustomerName</h6>
                    <p class="card-text">
                        Địa chỉ:
                        <strong> @item.ShipAddress,</strong>
                        <strong> @item.Ward, @item.District, @item.Province</strong>
                    </p>
                    <p class="card-text">
                        Địa thoại:
                        <strong>@item.Phone</strong>
                    </p>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-primary m-1" asp-action="EditShipInfo" asp-route-shipInfoId="@item.ShipInfoId">Chỉnh sửa</a>
                    <a class="btn btn-danger m-1" asp-action="DeleteShipInfo" asp-route-shipInfoId="@item.ShipInfoId">Xóa</a>
                </div>
            </div>
        </div>
    }
}

