@using VBookHaven.Models
@using VBookHaven.Areas.Customer.Controllers

@model AddAddressModel
@{
    ViewData["Title"] = "Thêm địa chỉ";
}

<!-- Old code -->
@*<form method="post">
	<input hidden asp-for="Method" value="post" />
	<input hidden asp-for="CurrentShipInfoId" />

	<label>Tên khách hàng *</label><br />
	<input type="text" asp-for="ShipInfo.CustomerName" required /><br />
	<lable>Địa chỉ *</lable><br />
	<input type="text" asp-for="ShipInfo.ShipAddress" required /><br />
	<label>Số điện thoại *</label><br />
	<input type="tel" asp-for="ShipInfo.Phone" pattern="[0-9]{10}" required /><br />
	
	<input type="submit" value="Thêm địa chỉ" />
</form>

<br />

<form action="ChangeAddress" method="post">
	<input hidden name="shipInfoId" value="@Model.CurrentShipInfoId" />
	<input type="submit" value="Quay lại" />
</form>*@

<!-- Breadcrump -->
@*<!-- BREADCRUMBS SETCTION START -->
<div class="breadcrumbs-section plr-200 mb-80 section">
    <div class="breadcrumbs overlay-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs-inner">
                        <h1 class="breadcrumbs-title">My Account</h1>
                        <ul class="breadcrumb-list">
                            <li><a href="/Customer/Home">Trang chủ</a></li>
                            <li>
                                <a href="#" onclick="document.getElementById('back-to-purchase-form').submit(); return false;">
                                    Thanh toán
                                </a>
                            </li>
                            <form id="back-to-purchase-form" hidden action="Purchase" method="post">
                                <input name="shipInfoId" value="@Model.CurrentShipInfoId" />
                            </form>
                            <li>Thêm thông tin giao hàng</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMBS SETCTION END -->*@

<!-- Start page content -->
<div id="page-content" class="page-wrapper section">

    <!-- LOGIN SECTION START -->
    <div class="login-section mb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="my-account-content" id="accordion">
                        <!-- My shipping address -->
                        <div class="card mb-15">
                            <div class="card-header" id="headingTwo">
                                <h4 class="card-title">
                                    Thông tin giao hàng
                                </h4>
                            </div>
                            <div id="collapseTwo">
                                <div class="card-body">
                                    <form method="post">
                                        <input hidden asp-for="Method" value="post" />
                                        <input hidden asp-for="CurrentShipInfoId" />

                                        <div class="new-customers p-30">
                                            <!-- May need later -->
                                            @*<div class="row">
                                                <div class="col-sm-6">
                                                    <input type="text" placeholder="First Name">
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="text" placeholder="last Name">
                                                </div>
                                                <div class="col-sm-6">
                                                    <select class="custom-select">
                                                        <option value="defalt">country</option>
                                                        <option value="c-1">Australia</option>
                                                        <option value="c-2">Bangladesh</option>
                                                        <option value="c-3">Unitd States</option>
                                                        <option value="c-4">Unitd Kingdom</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-6">
                                                    <select class="custom-select">
                                                        <option value="defalt">State</option>
                                                        <option value="c-1">Melbourne</option>
                                                        <option value="c-2">Dhaka</option>
                                                        <option value="c-3">New York</option>
                                                        <option value="c-4">London</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-6">
                                                    <select class="custom-select">
                                                        <option value="defalt">Town/City</option>
                                                        <option value="c-1">Victoria</option>
                                                        <option value="c-2">Chittagong</option>
                                                        <option value="c-3">Boston</option>
                                                        <option value="c-4">Cambridge</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="text" placeholder="Phone here...">
                                                </div>
                                            </div>*@
                                            
                                            @*<input type="text" asp-for="ShipInfo.CustomerName" required placeholder="Tên khách hàng (*)">
                                            <input type="text" asp-for="ShipInfo.ShipAddress" required placeholder="Địa chỉ giao hàng (*)">
                                            <input type="tel" asp-for="ShipInfo.Phone" pattern="[0-9]{10}" placeholder="Số điện thoại (*)">*@
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <div class=" mb-3 row ">
                                                <label asp-for="ShipInfo.CustomerName" class="col-sm-2 col-form-label">Họ và tên: </label>
                                                <div class="col-sm-10 ">
                                                    <input class="form-control" asp-for="ShipInfo.CustomerName">
                                                    <span asp-validation-for="ShipInfo.CustomerName" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="mb-3 row ">
                                                <label asp-for="ShipInfo.Phone" class="col-sm-2 col-form-label ">Số điện thoại</label>
                                                <div class="col-sm-10 ">
                                                    <input asp-for="@Model.ShipInfo.Phone" class="form-control">
                                                    <span asp-validation-for="@Model.ShipInfo.Phone" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="mb-5 row ">
                                                <label class="col-sm-2 col-form-label ">Tỉnh/Thành phố</label>
                                                <div class="col-sm-10 ">
                                                    <select asp-for="@Model.ShipInfo.ProvinceCode" class="single-select" id="province">
                                                        <option value="" selected>Chọn Tỉnh/Thành Phố</option>
                                                    </select>
                                                    <span asp-validation-for="@Model.ShipInfo.ProvinceCode" class="text-danger"></span>
                                                    <input hidden id="provinceString" asp-for="@Model.ShipInfo.Province" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="mb-5 row ">
                                                <label class="col-sm-2 col-form-label ">Quận huyện</label>
                                                <div class="col-sm-10 ">
                                                    <select asp-for="@Model.ShipInfo.DistrictCode" class="single-select" id="district">
                                                        <option selected value="">Chọn Quận/Huyện</option>
                                                    </select>
                                                    <span asp-validation-for="@Model.ShipInfo.DistrictCode" class="text-danger"></span>
                                                    <input hidden id="districtString" asp-for="@Model.ShipInfo.District" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="mb-5 row ">
                                                <label class="col-sm-2 col-form-label ">Phường xã</label>
                                                <div class="col-sm-10 ">
                                                    <select asp-for="@Model.ShipInfo.WardCode" class="single-select" id="ward">
                                                        <option selected value="">Chọn Phường/Xã</option>
                                                    </select>
                                                    <span asp-validation-for="@Model.ShipInfo.WardCode" class="text-danger"></span>

                                                    <input hidden id="wardString" asp-for="@Model.ShipInfo.Ward" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="mb-5 row ">
                                                <label asp-for="@Model.ShipInfo.ShipAddress" class="col-sm-2 col-form-label ">Địa chỉ</label>
                                                <div class="col-sm-10 ">
                                                    <textarea asp-for="@Model.ShipInfo.ShipAddress" class="form-control " rows="10 "
                                                        style="font-size: 13px;"></textarea>
                                                    <span asp-validation-for="@Model.ShipInfo.ShipAddress" class="text-danger"></span>
                                                </div>
                                            </div>
                                            @*<textarea class="custom-textarea"
                                                      placeholder="Additional information..."></textarea>*@
                                            <div class="row">
                                                @if (@Model.CurrentShipInfoId == 0)
                                                {
                                                    <div class="col-md-6">
                                                        <button class="submit-btn-1 mt-20 btn-hover-2 black-bg"
                                                                onclick="window.location.href='/Customer/Order/Purchase'; return false;">
                                                            Quay lại
                                                        </button>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-md-6">
                                                        <button class="submit-btn-1 mt-20 btn-hover-2 black-bg"
                                                                onclick="document.getElementById('return-form').submit(); return false;">
                                                            Quay lại
                                                        </button>
                                                    </div>
                                                }
                                                <div class="col-md-6">
                                                    <button class="submit-btn-1 mt-20 btn-hover-1 f-right" type="submit"
                                                            value="register">
                                                        Thêm địa chỉ
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <form id="return-form" action="ChangeAddress" method="post" hidden>
                                        <input name="shipInfoId" value="@Model.CurrentShipInfoId" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- LOGIN SECTION END -->
</div>
<!-- End page content -->

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/address.js"></script>
}