@using VBookHaven.Models
@model List<ShippingInfo>

@{
	int selectedId = (int)ViewData["selectedAddress"];
}

<form action="AddAddress" method="post">
	<input hidden name="model.Method" value="get" />
	<input hidden name="model.CurrentShipInfoId" value="@selectedId" />
	<input type="submit" value="Thêm địa chỉ" />
</form>

<form action="Purchase" method="post">
	@if (selectedId == 0)
	{
		<input type="radio" hidden name="shipInfoId" value="0" checked />
	}
	else
	{
		<input type="radio" hidden name="shipInfoId" value="0" />
	}
	@foreach (ShippingInfo info in Model)
	{
		<div>
			@if (selectedId == info.ShipInfoId)
			{
				<input type="radio" name="shipInfoId" value="@info.ShipInfoId" checked></input>

				<br />
			}
			else
			{
				<input type="radio" name="shipInfoId" value="@info.ShipInfoId"></input>

				<br />
			}
			<p>@info.CustomerName</p>
			<p>@info.ShipAddress</p>
			<p>@info.Phone</p>
		</div>
	}
	
	@if (Model.Count <= 0)
	{
		<input type="submit" value="Quay lại" />
	}
	else
	{
		<input type="submit" value="Chọn" />
	}
</form>