@using VBookHaven.Models
@using VBookHaven_Admin.Areas.Admin.Controllers
@using System.Text.Json
@using VBookHaven_Admin

@model EditOrderManagementModel

@{
    int numStatus = OrderStatus.ToNum(Model.Order.Status);
    double total = 0;
    foreach (OrderDetail o in Model.Order.OrderDetails)
    {
        total += o.UnitPrice.Value * (1 - o.Discount.Value / 100) * o.Quantity.Value;
    }
}

<style>
    #searchList {
        position: absolute;
        z-index: 3;
        display: none;
        box-shadow: 2px 2px gray;
    }

    .item {
        padding: 10px 15px;
    }

    #list-product {
        border: 1px solid lightgray;
        overflow-y: auto;
        max-height: 350px;
    }

    .cover {
        padding: 0;
        width: 60px;
        height: 50px;
    }

    img {
        width: 100%;
        height: 100%;
    }

    td:nth-child(3) {
        max-width: 100px;
    }

    /* Custom CSS for truncating text and keeping the link next to it */

    .ellipsis {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        /* Set the number of lines to display */
        overflow: hidden;
    }

    /* Custom CSS for adjusting the size of the ellipsis div */

    .ellipsis-div {
        max-width: 150px;
        /* Set the maximum width for the div (adjust as needed) */
    }

    input[type=number] {
        width: 100%;
        text-align: center;
    }

    /* Additional css */

    .payment-items {
        padding: 10px 10px;
        margin: 0 15px;
        border-bottom: 1px solid lightgray;
    }
        
    .payment-items p {
        animation: forwards;
        margin-bottom: 0;
        font-size: 16px;
    }
        
    .payment-title {
        color: black;
    }
        
    .payment-date {
        font-size: 13px;
        color: gray;
    }
        
    .payment-detail {
        padding: 10px 35px;
        font-size: 15px;
    }
        
    .payment-items:first-child {
        background-color: lightsteelblue;
    }

    /* Custom CSS for text overflow ellipsis */
</style>

<!--page-wrapper-->
<div class="page-wrapper">
    <!--page-content-wrapper-->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                <div class="breadcrumb-title pe-3">Đơn hàng</div>
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item">
                                <a href="/Admin/Order/Index">
                                    <i class="bx bx-home-alt"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Chi tiết đơn hàng</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!--end breadcrumb-->
            <div class="row">
                <div class="col-9 mx-auto">
                    <div class="card">
                        <div class="card-body d-flex justify-content-center align-items-center wizard-container">
                            <!-- Status progress bar -->
                            <div class="wizard-progress w-100">
                                @if (Model.Order.Status.Equals(OrderStatus.Cancel))
                                {
                                    <div class="step cancel">
                                        <span class="title">@OrderStatus.Cancel</span>
                                        <div class="node"></div>
                                    </div>
                                }
                                else
                                {
                                    <div class="step complete">
                                        <span class="title">@OrderStatus.Create</span>
                                        <div class="node"></div>
                                    </div>
                                    <div class="step @(numStatus > 1 ? "complete" : "")
                                        @(numStatus == 1 ? "in-progress" : "")">
                                        <span class="title">@OrderStatus.Wait</span>
                                        <div class="node"></div>
                                    </div>
                                    <div class="step @(numStatus > 2 ? "complete" : "")
                                        @(numStatus == 2 ? "in-progress" : "")">
                                        <span class="title">@OrderStatus.Process</span>
                                        <div class="node"></div>
                                    </div>
                                    <div class="step @(numStatus > 3 ? "complete" : "")
                                        @(numStatus == 3 ? "in-progress" : "")">
                                        <span class="title">@OrderStatus.Shipping</span>
                                        <div class="node"></div>
                                    </div>
                                    <div class="step @(numStatus >= 4 ? "complete" : "")">
                                        <span class="title">@OrderStatus.Shipped</span>
                                        <div class="node"></div>
                                    </div>
                                    <div class="step @(numStatus == 5 ? "complete" : "")
                                        @(numStatus == 4 ? "in-progress" : "")">
                                        <span class="title">@OrderStatus.Done</span>
                                        <div class="node"></div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-12 card border-top border-0 border-4 border-primary">
                        <div class="pt-4 px-5">
                            <div class="card-title d-flex align-items-center">
                                <div>
                                    <i class="bx bxs-user-rectangle bx-tada me-2 fs-4"></i>
                                </div>
                                <h4 class="mb-0 fw-bold">Khách hàng</h4>
                            </div>
                            <hr>
                            <div class="card-body row g-3">
                                <!-- không fix code >> chú ý id div này >> id liên quan đến js -->
                                <div id="customerInfoContainer" class="mb-4">
                                    <div class="customer-info">
                                        <table>
                                            <tr>
                                                <td><h6 class="text-primary fw-bold">Tên khách hàng:&nbsp;</h6></td>
                                                <td><h6 class="text-primary">@Model.Order.Customer.FullName </h6></td>
                                            </tr>
                                            <tr>
                                                <td><h6 class="text-primary fw-bold">Số điện thoại:&nbsp;</h6></td>
                                                <td><h6 class="text-primary">@Model.Order.Customer.Phone </h6></td>
                                            </tr>
                                        </table>
                                        @*<label class="fw-bold">Tên người nhận: @Model.Order.CustomerName</label><br />
                                        <label class="fw-bold">Số điện thoại: @Model.Order.Phone</label><br />
                                        <label class="fw-bold">Địa chỉ: @Model.Order.ShipAddress</label>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 card border-top border-0 border-4 border-primary">
                        <div class="pt-4 px-5">
                            <div class="card-title d-flex align-items-center">
                                <div>
                                    <i class="bx bxs-user-rectangle bx-tada me-2 fs-4"></i>
                                </div>
                                <h4 class="mb-0 fw-bold">Địa chỉ giao hàng</h4>
                            </div>
                            <hr>
                            <div class="card-body row g-3">
                                <!-- không fix code >> chú ý id div này >> id liên quan đến js -->
                                <div id="customerInfoContainer" class="mb-4">
                                    <div class="customer-info">
                                        <table>
                                            <tr>
                                                <td><h6 class="text-primary fw-bold">Tên người nhận:&nbsp;</h6></td>
                                                <td><h6 class="text-primary">@Model.Order.CustomerName </h6></td>
                                            </tr>
                                            <tr>
                                                <td><h6 class="text-primary fw-bold">Số điện thoại:&nbsp;</h6></td>
                                                <td><h6 class="text-primary">@Model.Order.Phone </h6></td>
                                            </tr>
                                            <tr>
                                                <td><h6 class="text-primary fw-bold">Địa chỉ:&nbsp;</h6></td>
                                                <td><h6 class="text-primary">@Model.Order.ShipAddress </h6></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 mx-auto card border-top border-0 border-4 border-primary">
                    <div class="card-title text-center pt-4">
                        <h4 class="mb-0 fw-bold">Thông tin bổ sung</h4>
                    </div>
                    <a href="/Admin/Order/ExportBill/@Model.Order.OrderId">Xuất hóa đơn</a>
                    <div class="card-body">
                        <p><strong>Nhân viên xử lí đơn: </strong>
                            @if (Model.Order.Staff != null)
                            {
                                @Model.Order.Staff.FullName
                            }
                        </p>
                        <p><strong>Ngày tạo đơn: </strong>@Model.Order.OrderDate.Value.ToString("dd/MM/yyyy")</p>
                        <p>
                            <strong>Ghi chú: </strong>
                            @Model.Order.Note
                        </p>
                    </div>
                </div>
                <div class="col-12 pe-0 mx-auto">
                    <div class="card pt-4">
                        <div class="card-titl px-5 row">
                            <div class="col-8 d-flex align-items-center">
                                <div>
                                    <i class="bx bx-credit-card bx-tada me-2 fs-4"></i>
                                    <!--Not paid icon-->
                                    <!-- <i class="bx bxs-check-circle bx-tada me-2 fs-4 text-success"></i> -->
                                    <!--Paid icon-->
                                </div>
                                <h5 class="mb-0 fw-bold">Lịch sử thanh toán</h5>
                                <!--Not paid title-->
                                <!-- <h5 class="mb-0 fw-bold">Đơn hàng đã thanh toán toàn bộ</h5> -->
                                <!--Paid title-->
                            </div>
                            @if (OrderStatus.ToNum(Model.Order.Status) < 5 && total > Model.Order.AmountPaid)
                            {
                                <div class="col-4 d-flex align-items-center justify-content-end">
                                    <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#addPayment">Thanh toán</button>
                                </div>
                            }
                        </div>
                        <hr>
                        <div class="card-body pt-0">
                            <div class="row payment-items">
                                <div class="col-4">
                                    <span>Tiền khách cần trả : <strong>@total VNĐ</strong></span>
                                </div>
                                <div class="col-4 text-center">
                                    <span>Đã trả: <strong>@Model.Order.AmountPaid.Value.ToString("#,0") VNĐ</strong></span>
                                </div>
                                <div class="col-4 text-end">
                                    <span>Còn phải trả: <strong class="text-danger" id="debt">@(total - Model.Order.AmountPaid) VNĐ</strong></span>
                                </div>
                            </div>
                            @foreach (OrderPaymentHistory o in Model.Payments)
                            {
                                <div class="payment-items">
                                    <p class="payment-content">
                                        <i class='bx bxs-circle text-primary pe-3'></i>
                                        <span class="payment-title"><strong>Đã trả: </strong>@o.PaymentAmount VNĐ</span>
                                        <i class='show-btn btn bx bx-caret-down p-0 pb-1'></i>
                                        <span class="payment-date">@o.PaymentDate.Value.ToString("dd/MM/yyyy")</span>
                                    </p>
                                    <p class="payment-detail">
                                        <strong>Nhân viên xử lí: </strong>@o.Staff.FullName <br />
                                        <strong>Phương thức thanh toán: </strong>@o.PaymentMethod
                                    </p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-12 mx-auto pe-0">
                    <div class="card border-top border-0 border-4 border-primary">
                        <div class="card-body p-5">
                            <div class="card-title d-flex align-items-center">
                                <div>
                                    <i class="bx bxs-receipt bx-tada me-2 fs-4"></i>
                                </div>
                                <h4 class="mb-0 fw-bold">Chi tiết đơn hàng</h4>
                            </div>
                            <hr>
                            <div class="row g-3">
                                <div class="col-md-12">
                                    <table id="myTable"
                                            class="table table-striped table-bordered text-center">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th class="col-1">Ảnh</th>
                                                <th class="col-2">Tên SP</th>
                                                <th class="col-1">Đơn vị</th>
                                                <th class="col-1">Số lượng</th>
                                                <th class="col-2">Đơn giá</th>
                                                <th class="col-2">Chiết khấu</th>
                                                <th class="col-2">Thành tiền</th>
                                            </tr>
                                        </thead>
                                        <!-- không fix code >> chú ý id div này >> id liên quan đến js -->
                                        <tbody id="orderContainer">
                                            @for (int i = 0; i < Model.Details.Count; ++i)
                                            {
                                                OrderDetail o = Model.Details[i];

                                                <tr>
                                                    <td>@(i+1)</td>
                                                    <td><img src="~/images/img/@Model.Thumbnails[i]" style="aspect-ratio: 1/1"></td>
                                                    <td>
                                                        <div class="ellipsis">
                                                            @o.Product.Name
                                                        </div>
                                                    </td>
                                                    <td>@o.Product.Unit</td>
                                                    <td>@o.Quantity.Value.ToString("#,0")</td>
                                                    <td>@o.UnitPrice.Value.ToString("#,0") VNĐ</td>
                                                    <td>@o.Discount%</td>
                                                    <td>@((o.UnitPrice.Value * (1 - o.Discount.Value / 100) * o.Quantity.Value).ToString("#,0")) VNĐ</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-7 d-flex justify-content-start align-items-end">
                                    <!-- Co the cap nhat va huy neu khach chua nhan hang -->
                                    @if (OrderStatus.ToNum(Model.Order.Status) < 4) 
                                    {
                                        <button type="button" class="btn btn-primary px-4 mx-1"
                                                onclick="document.getElementById('updateOrder').submit();">
                                            @switch (Model.Order.Status)
                                            {
                                                case OrderStatus.Wait:
                                                    @:Xác nhận
                                                    break;
                                                case OrderStatus.Process:
                                                    @:Giao hàng
                                                    break;
                                                case OrderStatus.Shipping:
                                                    @:Đã giao
                                                    break;
                                            }
                                        </button>
                                        <button type="button" class="btn btn-danger px-4 mx-1"
                                            onclick="document.getElementById('cancelOrder').submit();">
                                            Hủy đơn
                                        </button>
                                    }
                                   @* <button type="button" class="btn btn-secondary px-4 mx-1"
                                            onclick="window.location.href='/Admin/Order/Index'">
                                        Trở lại danh sách
                                    </button>*@
                                    <button type="button" class="btn btn-secondary px-4 mx-1"
                                            onclick="history.back()">
                                        Quay lại
                                    </button>
                                    <form hidden id="updateOrder" action="/Admin/Order/Update" method="post">
                                        <input name="id" value="@Model.Order.OrderId" />
                                    </form>
                                    <form hidden id="cancelOrder" action="/Admin/Order/Cancel" method="post">
                                        <input name="id" value="@Model.Order.OrderId" />
                                    </form>
                                </div>
                                <div class="col-5">
                                    <table class="table" id="countTable">
                                        <tr>
                                            <td>Cộng tiền hàng</td>
                                            <td class="text-end">@total.ToString("#,0") VNĐ</td>
                                        </tr>
                                        <tr>
                                            <td>Thuế GTGT</td>
                                            <td class="text-end">@Model.Order.VAT%</td>
                                        </tr>
                                        <tr>
                                            <th><strong>Tổng tiền thanh toán</strong></th>
                                            <td class="text-end">
                                                <strong>
                                                    <span id="totalPay">@((total * (1 + Model.Order.VAT / 100)).Value.ToString("#,0"))</span>
                                                    VNĐ
                                                </strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Số tiền khách đã trả</td>
                                            <td class="text-end">@Model.Order.AmountPaid.Value.ToString("#,0") VNĐ</td>
                                        </tr>
                                        <tr>
                                            <td>Số tiền còn thiếu</td>
                                            <td class="text-end">@((total * (1 + Model.Order.VAT / 100) - Model.Order.AmountPaid).Value.ToString("#,0")) VNĐ</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addPayment" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/Admin/Order/AddPayment" method="post" class="addForm">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Xác nhận thanh toán</h5>
                    </div>
                    <div class="modal-body row">
                        <div class="col-12 col-md-6 mb-3">
                            <label class="form-label">Phương thức thanh toán *</label>
                            <select class="form-control validate important" name="method">
                                <option value="@PaymentMethod.Card">@PaymentMethod.Card</option>
                                <option value="@PaymentMethod.Transfer" selected>@PaymentMethod.Transfer</option>
                                <option value="@PaymentMethod.Cash">@PaymentMethod.Cash</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label class="form-label">Ngày thanh toán *</label>
                            <input required type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" 
                                min="@Model.Order.OrderDate.Value.ToString("yyyy-MM-dd")"
                                class="form-control validate important" name="date">
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label class="form-label">Số tiền *</label>
                            <input required type="number" class="form-control validate important" 
                                min="1" max="@(total - Model.Order.AmountPaid)" name="amount">
                        </div>
                        <input hidden name="id" value="@Model.Order.OrderId" />
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary reset submit" value="Lưu" />
                        <input type="reset" class="btn btn-secondary reset" value="Đặt lại">
                        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--end page-content-wrapper-->
</div>
<!--end page-wrapper-->

@section Scripts
{
    <script>
        $(document).ready(function() {
            $(".payment-detail").hide();

            $(".show-btn").on("click", function () {
                if ($(this).hasClass("bx-caret-down")) {
                    $(this).parent().parent().find('.payment-detail').show();
                    $(this).removeClass("bx-caret-down ")
                    $(this).addClass("bx-caret-up ")
                }
                else {
                    $(this).parent().parent().find('.payment-detail').hide();
                    $(this).addClass("bx-caret-down ")
                    $(this).removeClass("bx-caret-up ")
                }
            });
        });
    </script>
}