@model VBookHaven.Models.ViewModels.SupplierDetailsVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .title {
        color: gray;
        font-size: medium;
        margin-bottom: 0;
    }

    .content {
        color: black;
        font-size: large;
    }

    .productImg {
        width: 65px;
        height: 70px;
    }

    h4,
    h5 {
        font-weight: bold;
    }
</style>
 <!--page-wrapper-->
        <div class="page-wrapper">
            <!--page-content-wrapper-->
            <div class="page-content-wrapper">
                <div class="page-content">
                    <!--breadcrumb-->
                    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                        <div class="breadcrumb-title pe-3">Nhà cung cấp</div>
                        <div class="ps-3">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0 p-0">
                                    <li class="breadcrumb-item"><a asp-action="Index"><i
												class="bx bx-home-alt"></i></a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Chi tiết nhà cung cấp</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <!--end breadcrumb-->
                    <div class="card border-top border-0 border-4 border-info">
                        <div class="card-body p-4">
                            <div class="card-title mb-3 row">
                                <div class="col-md-6 d-flex align-items-center">
                                    <div><i class="bx bxs-detail bx-tada me-2 font-24"></i>
                                    </div>
                                    <h4 class="mb-0">Thông tin chung</h4>
                                </div>
                                <div class="col-md-6 d-flex justify-content-end">
                                        @if (User.IsInRole(SD.Role_Staff))
                                            {
                                                <a asp-action="Edit" asp-route-id="@Model.Supplier.SupplierId" class="btn btn-primary px-3 py-2">Sửa thông tin nhà cung cấp</a>
                                            }
                                </div>
                            </div>
                            <div class="card-body px-0">
                        @if (Model.Supplier.Status)
                        {
                            <h5 class="mb-3"><span class="badge bg-success px-3">Đang giao dịch</span></h5>
                        }else{

                            <h5 class="mb-3"><span class="badge bg-light-warning px-3">Ngừng hoạt động</span></h5>
                        }
                                <div class="row mt-3">
                                    <div class="col-sm-6">
                                        <p class="title">Tên nhà cung cấp</p>
                                        <p class="content">@Model.Supplier.SupplierName</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="title">Số điện thoại</p>
                                        <p class="content">@Model.Supplier.Phone</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="title">Email</p>
                                        <p class="content">@Model.Supplier.Email</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="title">Địa chỉ</p>
                                        <p class="content">
                                    @if(Model.Supplier.Address != null)
                                    {
                                        @Model.Supplier.Address
                                    }
                                    @if (Model.Supplier.Ward != null)
                                    {
                                        @(", " + @Model.Supplier.Ward)
                                    }
                                    @if (Model.Supplier.District != null)
                                    {
                                        @(", " + @Model.Supplier.District)
                                    }
                                    @if (Model.Supplier.Province != null)
                                    {
                                        @(", " + @Model.Supplier.Province)
                                    }
                                </p>
                                    </div>
                                    <div class="col-md-12">
                                        <p class="title">Ghi chú</p>
                                        <p class="content">@Model.Supplier.Description</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card border-top border-0 border-4 border-info">
                        <div class="card-body">
                            <div class="card-title">
                                <div class="col-md-6 d-flex align-items-center">
                                    <div><i class="bx bxs-package bx-tada me-2 font-24"></i>
                                    </div>
                                    <h4 class="mb-0">Các sản phẩm cung cấp</h4>
                                </div>
                            </div>
                            <hr />

                            <div class="mb-3 row">
                                <div class="table-responsive mt-3">
                                    <table id="example2" class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Mã sản phẩm</th>
                                                <th>Ảnh</th>
                                                <th>Tên sản phẩm</th>
                                                <th>Loại</th>
                                                <th>Đơn vị</th>
                                                <th>Chi tiết</th>
                                            </tr>
                                        </thead>
                                        <tbody id="myTable">
                                        @foreach (var product in Model.SupplierProducts)
                                        {
                                            <tr>
                                            <td> @product.Barcode</td>
                                            @if (product.Images.Where(i => i.Status != false).Count() <= 0)
                                            {
                                                <td>
                                                    <img class="productImg" src="/images/img/default_image.png" alt="">
                                                </td>
                                            }else
                                            {
                                            <td>
                                                    <img class="productImg" src="/images/img/@product.Images.Where(i => i.Status != false).FirstOrDefault().ImageName" alt="">
                                            </td>
                                            }
                                            <td>@product.Name</td>
                                            <td>@product.SubCategory.SubCategoryName</td>
                                            <td>
                                                @product.Unit
                                            </td>
                                            <td class="text-center">
                                                @if (product.IsBook == true)
                                                {
                                                    <a href="/admin/product/viewbook/@product.ProductId" class="btn btn-sm btn-default">
                                                        <i class="lni lni-eye"></i>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="/admin/product/viewstationery/@product.ProductId" class="btn btn-sm btn-default">
                                                        <i class="lni lni-eye"></i>
                                                    </a>
                                                }
                                            </td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end page-content-wrapper-->
            </div>
            <!--end page-wrapper-->
        </div>
        <!-- end wrapper -->
@section Scripts {
    <script>
        $(document).ready(function () {
            var table = $('#example2').DataTable({});
            table.buttons().container().appendTo('#example2_wrapper .col-md-6:eq(0)');
        });
    </script>
}

