@model IEnumerable<VBookHaven.Models.Category>

@{
    ViewData["Title"] = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .sub-category {
        display: none;
    }

    h6 {
        margin: 0;
    }
</style>


<!--page-wrapper-->
<div class="page-wrapper">
    <!--page-content-wrapper-->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                <div class="breadcrumb-title pe-3">Loại sản phẩm</div>
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item">
                                <a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Loại</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!--end breadcrumb-->
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h4 class="mb-0">Nhóm hàng</h4>
                    </div>
                    <hr />
                    <div class="mb-3 row">
                        <div class="accordion col-8" id="accordionExample">
                        </div>
                        <div class="col-4 row">
                            <div class="accordion col-2"></div>
                            <div class="accordion col-5 pe-1">
                                <a asp-controller="categories" asp-action="create" style="float: right;" class="btn btn-primary">Tạo nhóm</a>
                                </div>
                            <div class="accordion col-5 p-0">
                                <a asp-controller="SubCategories" asp-action="create" class="btn btn-primary">Tạo nhóm con</a>
                                </div>
                      
                           
                           @* <a asp-action="Create" class="btn btn-primary">+ Tạo mới khách hàng</a>*@
                        </div>
                        <div class="table-responsive mt-3">
                            <table id="example" class="table table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th scope="col">Nhóm hàng</th>
                                        @*   <th scope="col">Trạng thái</th>*@
                                        <th scope="col">Hành động</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="category">
                                            <td>
                                                <h6><bold>@item.CategoryName</bold></h6>
                                            </td>
                                            @*<td>
                                        @if (@item.Status)
                                        {
                                        <span class="badge bg-success">Hoạt động</span>
                                        }
                                        else
                                        {
                                        <span class="badge bg-danger">Đình chỉ</span>
                                        }

                                        </td>*@
                                            <td>
                                                <!-- Button trigger modal -->
                                                <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-sm btn-default">
                                                    <i class="lni lni-pencil-alt"></i>
                                                </a>
                                                <button type="button" class="btn btn-sm btn-default show-sub">
                                                    <i class="lni lni-eye"></i>
                                                </button>
                                                <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-sm btn-default">
                                                    <i class='bx bx-trash'></i>
                                                </a>
                                            </td>
                                        </tr>
                                        @foreach (var sub in item.SubCategories)
                                        {
                                            <tr class="sub-category">
                                                <td>
                                                    <h6><span class="badge rounded-pill bg-info">@sub.SubCategoryName</span></h6>
                                                </td>
                                                @* <td>
                                        @if (@sub.Status)
                                        {
                                        <span class="badge bg-success">Hoạt động</span>
                                        }
                                        else
                                        {
                                        <span class="badge bg-danger">Đình chỉ</span>
                                        }
                                        </td>*@
                                                <td>
                                                    <!-- Button trigger modal -->
                                                    <a asp-controller="SubCategories" asp-action="Edit" asp-route-id="@sub.SubCategoryId" class="btn btn-sm btn-default">
                                                        <i class="lni lni-pencil-alt"></i>
                                                    </a>
                                                    <a asp-controller="SubCategories" asp-action="Delete" asp-route-id="@sub.SubCategoryId" class="btn btn-sm btn-default">
                                                        <i class='bx bx-trash'></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        } }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <!--end page-content-wrapper-->
</div>
<!--end page-wrapper-->
@section Scripts {
    <script type="text/javascript" src="~/js/category.js"></script>
}