@model IEnumerable<VBookHaven.Models.Category>

@{
    ViewData["Title"] = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!--page-wrapper-->
<div class="page-wrapper">
    <!--page-content-wrapper-->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                <div class="breadcrumb-title pe-3">Quản trị viên</div>
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item">
                                <a href="javascript:;">
                                    <i class="bx bx-home-alt"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Quản lý sản phẩm</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!--end breadcrumb-->
            <div class="mx-auto">
                <h3 class="mb-0 text-uppercase">Thêm loại sản phẩm</h3>
                <hr>
                <a asp-action="Create">Thêm loại sản phẩm</a>
                <a asp-controller="SubCategories" asp-action="Create">Thêm loại con</a>
                <table class="table bg-white">
                    <thead>
                        <tr>
                            <th>
                                Loại sản phẩm
                            </th>
                            <th>
                                Trạng Thái
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CategoryName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.CategoryId">Chỉnh sửa</a>@* |
                                    <a asp-action="Details" asp-route-id="@item.CategoryId">Chi tiết</a>*@@* |
                                    <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>*@
                                </td>
                            </tr>
                            @foreach (var sub in item.SubCategories)
                            {
                                <tr class="table-secondary">
                                    <td>
                                        @Html.DisplayFor(modelItem => sub.SubCategoryName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => sub.Status)
                                    </td>
                                    <td>
                                        <a asp-controller="SubCategories" asp-action="Edit" asp-route-id="@sub.SubCategoryId">Chỉnh sửa</a> @*|
                                        <a asp-controller="SubCategories" asp-action="Details" asp-route-id="@sub.SubCategoryId">Chi tiết</a>*@@* |
                                        <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>*@
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--end page-content-wrapper-->
</div>

<!--end page-wrapper-->