@model VBookHaven.Models.ViewModels.DetailsPurchaseOrderVM
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int numStatus = SD.POStatusToNum(Model.pO.Status);
    int countRow = 0;
}
<style>
    .productImg {
        width: 65px;
        height: 70px;
    }

    .payment-items {
        padding: 10px 10px;
        margin: 0 15px;
        border-bottom: 1px solid lightgray;
    }

        .payment-items p {
            animation: forwards;
            margin-bottom: 0;
            font-size: 16px;
        }

    .payment-title {
        color: black;
    }

    .payment-date {
        font-size: 13px;
        color: gray;
    }

    .payment-detail {
        display: none;
        padding: 7px 35px;
        font-size: 15px !important;
    }

    .payment-items:first-child {
        background-color: lightsteelblue;
    }
</style>
<!--page-wrapper-->
<div class="page-wrapper">
    <!--page-content-wrapper-->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                <div class="breadcrumb-title pe-3">Nhập hàng</div>
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item">
                                <a href="javascript:;">
                                    <i class="bx bx-home-alt"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Nhập hàng</li>
                            <li class="breadcrumb-item active" aria-current="page">Chi tiết đơn nhập hàng</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!--end breadcrumb-->
            <div class="row">
                <div class="col-12 mx-auto">
                    <div class="card">
                        <div class="card-body row">
                            <div class="col-6">
                                <h2 class="fw-bold">@Model.pO.PurchaseOrderId</h2>
                                <p class="text-secondary mb-1">@Model.pO.Date</p>
                                <h5><span class="badge bg-warning rounded-pill px-3"> @Model.pO.Status</span></h5>
                            </div>
                            <!-- Status progress bar -->
                            <div class="col-6 d-flex justify-content-center">
                                <div class="wizard-progress w-100">
                                    @if (Model.pO.Status.Equals(SD.PurchaseOrder_Canceled))
                                    {

                                        <div class="step cancel">
                                            <span class="title">@SD.PurchaseOrder_Canceled</span>
                                            <div class="node"></div>
                                        </div>
                                        <div class="step">
                                            <span class="title">@SD.PurchaseOrder_Imported</span>
                                            <div class="node"></div>
                                        </div>
                                        <div class="step">
                                            <span class="title">@SD.PurchaseOrder_Complete</span>
                                            <div class="node"></div>
                                        </div>

                                    }
                                    else
                                    {
                                        <div class="step complete">
                                            <span class="title">@SD.PurchaseOrder_Created</span>
                                            <div class="node"></div>
                                        </div>
                                        <div class="step @(numStatus > 1 ? " complete " : " ")
                                                @(numStatus == 1 ? "in-progress " : " ")">
                                            <span class="title">@SD.PurchaseOrder_Imported</span>
                                            <div class="node"></div>
                                        </div>
                                        <div class="step @(numStatus == 3 ? " complete " : " ")
                                                @(numStatus == 2 ? "in-progress " : " ")">
                                            <span class="title">@SD.PurchaseOrder_Complete</span>
                                            <div class="node"></div>
                                        </div>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-8 mx-auto">
                    <div class="card">
                        <div class="pt-4 px-5">
                            <div class="card-title d-flex align-items-center">
                                <div>
                                    <i class="bx bxs-user-rectangle bx-tada me-2 fs-4"></i>
                                </div>
                                <h5 class="mb-0 fw-bold">@Model.pO.Supplier.SupplierName</h5>
                            </div>
                            <hr>
                            <div class="card-body row g-3">
                                <div class="supplier-info mt-0">
                                    <h6 class="text-primary fw-bold">
                                        <a href="">Supp1</a>
                                        <!-- Click vào để dẫn đến supplier-detail -->
                                    </h6>
                                    <label class="fw-bold">Số điện thoại: @Model.pO.Supplier.Phone</label></br>
                                    <label class="fw-bold">Địa chỉ: @Model.pO.Supplier.Ward, @Model.pO.Supplier.District, @Model.pO.Supplier.Province</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 mx-auto">
                    <div class="card">
                        <div class="card-title text-center pt-4">
                            <h5 class="mb-0 fw-bold">Thông tin bổ sung</h5>
                        </div>
                        <div class="card-body">
                            <p><strong>Nhân viên phụ trách: </strong> @Model.pO.Staff.FullName</p>
                            <p>
                                <strong>
                                    Ghi chú:
                                </strong> @Model.pO.Description
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-12 mx-auto pe-0">
                    <div class="card">
                        <div class="card-body p-5">
                            <div class="card-title d-flex align-items-center">
                                <div>
                                    <i class="bx bxs-receipt bx-tada me-2 fs-4"></i>
                                </div>
                                <h5 class="mb-0 fw-bold">Chi tiết đơn hàng</h5>
                            </div>
                            <hr>
                            <div class="row g-3">
                                <div class="col-md-12">
                                    <table id="myTable" class="table table-sm table-hover text-center">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th class="col-1 ">Ảnh</th>
                                                <th class="col-4 ">Tên SP</th>
                                                <th class="col-1 ">Đơn vị</th>
                                                <th class="col-1 ">Số lượng</th>
                                                <th class="col-2 ">Đơn giá</th>
                                                <th class="col-1 ">Chiết khấu</th>
                                                <th class="col-2 ">Thành tiền</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var detail in Model.pO.PurchaseOrderDetails)
                                            {
                                                countRow = countRow + 1;
                                                <tr>
                                                    <td>@countRow</td>
                                                    <td>
                                                        @if (@detail.Product.Images.Where(i => i.Status == true).FirstOrDefault() != null)
                                                        {
                                                            <img class="productImg " src="/images/img/@detail.Product.Images.Where(i=> i.Status == true).FirstOrDefault().ImageName">
                                                        }
                                                        else
                                                        {
                                                            <img class="productImg" src="/images/img/default_image.png">
                                                        }
                                                    </td>
                                                    <td>
                                                        <div class="ellipsis">
                                                            @detail.Product.Name
                                                        </div>
                                                    </td>
                                                    <td> @detail.Product.Unit</td>
                                                    <td> @detail.Quantity</td>
                                                    <td> @detail.UnitPrice VNĐ</td>
                                                    <td>@detail.Discount %</td>
                                                    <td>@((double)@detail.UnitPrice.Value * (1 - @detail.Discount.Value / 100) * @detail.Quantity.Value) VNĐ</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-8 "></div>
                                <div class="col-4 ">
                                    <table class="w-75 ">
                                        <tr>
                                            <td>Tổng tiền hàng</td>
                                            <td>@Model.TotalPayment</td>
                                        </tr>
                                        <tr>
                                            <td>Thuế GTGT</td>
                                            <td>
                                                <span>@Model.pO.VAT</span>%
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Tổng tiền đã thanh toán</th>
                                            <td>@Model.Paid</td>
                                        </tr>
                                        <tr>
                                            <th>Còn phải trả</th>
                                            <td>@Model.Unpaid</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form hidden id="updatePurchaseOrder" asp-action="UpdateStatus" method="post">
                    <input name="id" value="@Model.pO.PurchaseOrderId" />
                </form>
                <form hidden id="cancelPurchaseOrder" asp-action="CancelPurchaseOrder" method="post">
                    <input name="id" value="@Model.pO.PurchaseOrderId" />
                </form>
                <div class="col-12 pe-0 mx-auto " style="position: sticky; bottom: 0; ">
                    <div class="card border-top border-0 border-4 border-primary py-2">
                        <div class="card-body text-end">
                            @if (SD.POStatusToNum(Model.pO.Status) < 3)
                            {
                                <button type="button" class="btn btn-primary px-4 mx-2" onclick="document.getElementById('updatePurchaseOrder').submit();">
                                    @switch (Model.pO.Status)
                                    {
                                        case SD.PurchaseOrder_Created:
                                            @:Nhập hàng
                                            break;
                                        case SD.PurchaseOrder_Imported:
                                            @:Đã thanh toán
                                            break;
                                    }
                                </button>
                                @if (SD.POStatusToNum(Model.pO.Status) < 2)
                                {
                                    <a asp-action="Edit" asp-route-purchaseId="@Model.pO.PurchaseOrderId" class="btn btn-outline-info px-4 mx-2">Sửa đơn</a>
                                    <button type="button" class="btn btn-outline-danger px-4 mx-2"
                                            onclick="document.getElementById('cancelPurchaseOrder').submit();">
                                        Hủy đơn
                                    </button>
                                }
                            }
                            <a asp-action="Index" class="btn btn-outline-info px-5 mx-3">Thoát</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--end page-content-wrapper-->
</div>
<!--end page-wrapper-->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
