@model IEnumerable<VBookHaven.Models.PurchaseOrder>
@{
    ViewData["Title"] = "Danh sách đơn nhập hàng";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .supplier-info {
        margin-top: 10px;
    }

    .close-btn {
        margin-top: 10px;
        cursor: pointer;
        color: blue;
        text-decoration: underline;
    }

    .product-info {
        display: flex;
        align-items: center;
    }

        .product-info img {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }

        .product-info .labels {
            display: flex;
            align-items: center;
            margin-top: 5px;
        }

            .product-info .labels label {
                margin-right: 10px;
            }

            .product-info .labels span {
                font-weight: bold;
            }
</style>
<!--page-wrapper-->
<div class="page-wrapper">
    <!--page-content-wrapper-->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                <div class="breadcrumb-title pe-3">Loại sản phẩm</div>
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item">
                                <a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Loại</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!--end breadcrumb-->
            <div class="card radius-15">
                <div class="card-body">
                    <div class="card-title">
                        <h6 class="mb-0">Danh sách các loại</h6>
                    </div>
                    <hr />
                    <h3>Danh sách đơn nhập hàng</h3>
                    <p>
                        <a asp-action="Create">Thêm đơn nhập hàng</a>
                    </p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VAT)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Staff)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Supplier)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.AmountPaid)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VAT)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Staff.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Supplier.SupplierName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AmountPaid)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <!--end page-content-wrapper-->
</div>
<!--end page-wrapper-->
@section Scripts {
    <script type="text/javascript" src="~/js/category.js"></script>
}