@model VBookHaven_Admin.Areas.Admin.Controllers.ProductManagementViewModel
@using VBookHaven.Models
@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!--page-wrapper-->
<div class="page-wrapper">
	<!--page-content-wrapper-->
	<div class="page-content-wrapper">
		<div class="page-content">
			<!--breadcrumb-->
			<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
				<div class="breadcrumb-title pe-3">Sản phẩm</div>
				<div class="ps-3">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb mb-0 p-0">
							<li class="breadcrumb-item">
								<a href="/admin/product/index">
									<i class="bx bx-home-alt"></i>
								</a>
							</li>
							<li class="breadcrumb-item active" aria-current="page">Chi tiết sản phẩm</li>
						</ol>
					</nav>
				</div>
			</div>
			<!--end breadcrumb-->
			<div class="row">
				<div class="col-12 mx-auto">
					<div class="card border-top border-0 border-4 border-primary">
						<div class="card-body p-5">
							<div class="card-title d-flex align-items-center">
								<h3 class="mb-0 text-primary">Chi tiết văn phòng phẩm</h3>
							</div>
							<hr>
							<table class="table table-bordered view-detail-table" style="width:100%">
								<tbody>
									<tr>
										<th>ID</th>
										<td>@Model.Product.ProductId</td>
									</tr>
									<tr>
										<th>Mã vạch</th>
										<td>@Model.Product.Barcode</td>
									</tr>
									<tr>
										<th>Tên sản phẩm</th>
										<td>@Model.Product.Name</td>
									</tr>
									<tr>
										<th>Số lượng tồn kho</th>
										<td>@Model.Product.UnitInStock.Value.ToString("#,0")</td>
									</tr>
									<tr>
										<th>Số lượng có thể bán</th>
										<td>@Model.Product.AvailableUnit.Value.ToString("#,0")</td>
									</tr>
									<tr>
										<th>Loại sản phẩm</th>
										@if (Model.Product.SubCategory != null)
										{
											<td>@Model.Product.SubCategory.SubCategoryName</td>
										}
									</tr>
									<tr>
										<th>Đơn vị</th>
										<td>@Model.Product.Unit</td>
									</tr>
									<tr>
										<th>Kích thước</th>
										<td>@Model.Product.Size</td>
									</tr>
									<tr>
										<th>Trọng lượng</th>
										<td>@Model.Product.Weight</td>
									</tr>
									<tr>
										<th>Chất liệu</th>
										<td>@Model.Stationery.Material</td>
									</tr>
									<tr>
										<th>Xuất xứ</th>
										<td>@Model.Stationery.Origin</td>
									</tr>
									<tr>
										<th>Thương hiệu</th>
										<td>@Model.Stationery.Brand</td>
									</tr>
									<tr>
										<th>Giá nhập</th>
										<td>@Model.Product.PurchasePrice.Value.ToString("#,0") VNĐ</td>
									</tr>
									<tr>
										<th>Giá lẻ</th>
										<td>@Model.Product.RetailPrice.Value.ToString("#,0") VNĐ</td>
									</tr>
									<tr>
										<th>Chiết khấu lẻ</th>
										<td>@Model.Product.RetailDiscount%</td>
									</tr>
									<tr>
										<th>Giá sỉ</th>
										<td>@Model.Product.WholesalePrice.Value.ToString("#,0") VNĐ</td>
									</tr>
									<tr>
										<th>Chiết khấu sỉ</th>
										<td>@Model.Product.WholesaleDiscount%</td>
									</tr>
									<tr>
										<th>Trạng thái</th>
										@if (Model.Product.Status == true)
										{
											<td>Hoạt động</td>
										}
										else
										{
											<td>Đình chỉ</td>
										}
									</tr>
									<tr>
										<th>Mô tả</th>
										<td id="Desc" style="white-space: pre-wrap">@Model.Product.Description</td>
									</tr>
									<tr>
										<th>Ảnh minh họa</th>
										<td>
											@foreach (Image i in Model.Product.Images)
											{
												if (i.Status == true)
												{
													<img src="~/images/img/@i.ImageName">
												}
											}
										</td>
									</tr>
								</tbody>
							</table>
							<input type="button" class="btn btn-secondary" value="Quay lại" onclick="history.back()">
							<input type="button" class="btn btn-primary" value="Chỉnh sửa" onclick="window.location.href='/admin/product/editstationery/@Model.Product.ProductId'">
							@*<input type="button" class="btn btn-outline-info" value="Quay lại" onclick="history.back()">*@
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end page-content-wrapper-->
</div>
<!--end page-wrapper-->
