@model VBookHaven.Models.ViewModels.Manage_ShippingInfoVM
@{
    ViewData["Title"] = "Địa chỉ nhận hàng";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .payment-items {
        padding: 10px 10px;
        margin: 0 15px;
        border-bottom: 1px solid lightgray;
    }

        .payment-items p {
            animation: forwards;
            margin-bottom: 0;
            font-size: 16px;
        }

    .payment-title {
        color: black;
    }

    .payment-date {
        font-size: 13px;
        color: gray;
    }

    .payment-detail {
        display: none;
        padding: 7px 35px;
        font-size: 15px !important;
    }

    .payment-items:first-child {
        background-color: lightsteelblue;
    }

    .title {
        color: gray;
        font-size: medium;
        margin-bottom: 0;
    }

    .content {
        color: black;
        font-size: large;
    }
</style>
<!--page-wrapper-->
<div class="page-wrapper">
    <!--page-content-wrapper-->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                <div class="breadcrumb-title pe-3">Quản trị</div>
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item">
                                <a href="javascript:;">
                                    <i class="bx bx-home-alt"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Khách hàng</li>
                            <li class="breadcrumb-item active" aria-current="page">Chi tiết khách hàng</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!--end breadcrumb-->
            <div class="row">
                <div class="col-12 my-3">
                    <h3>
                        Thêm mới địa chỉ giao hàng
                    </h3>
                </div>
                <div class="col-12 col-md-12 mx-auto">
                    <div class="card">
                        <div class="pt-4 px-4">
                            <div class="card-title d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <i class="bx bxs-user-rectangle bx-tada me-2 fs-4"></i>
                                    </div>
                                    <h5 class="mb-0 fw-bold">Thông tin khách hàng</h5>
                                    @if (Model.Customer.Status == true || Model.Customer.Status == null)
                                    {
                                        <span class="badge bg-info rounded-pill fs-6 ms-2">
                                            Đang giao dịch
                                        </span>
                                    }
                                    else if (Model.Customer.Status == false)
                                    {
                                        <span class="badge bg-warning rounded-pill fs-6 ms-2">
                                            Ngưng hoạt động
                                        </span>
                                    }
                                </div>

                            </div>
                            <hr>
                            <div class="card-body row">
                                <div class="col-sm-6 row">
                                    <p class="title col-sm-6">Tên khách hàng</p>
                                    <p class="content col-sm-6">: @Model.Customer.FullName</p>
                                </div>
                                <div class="col-sm-6 row">
                                    <p class="title col-sm-6"></p>
                                    <p class="content col-sm-6"></p>
                                </div>
                                <div class="col-sm-6 row">
                                    <p class="title col-sm-6">Ngày sinh</p>
                                    <p class="content col-sm-6">: @Model.Customer.DOB</p>
                                </div>
                                <div class="col-sm-6 row">
                                    <p class="title col-sm-6">Giới tính</p>
                                    @if (Model.Customer.IsMale == true)
                                    {
                                        <p class="content col-sm-6">:Nam</p>
                                    }
                                    else if (@Model.Customer.IsMale == false)
                                    {
                                        <p class="content col-sm-6">: Nữ</p>
                                    }
                                    else
                                    {
                                        <p class="content col-sm-6">: </p>
                                    }
                                </div>
                                <div class="col-sm-6 row">
                                    <p class="title col-sm-6">Số điện thoại</p>
                                    <p class="content col-sm-6">: @Model.Customer.Phone</p>
                                </div>
                                <div class="col-sm-6 row">
                                    <p class="title col-sm-6">Nhóm khách hàng</p>
                                    @if (Model.Customer.IsWholesale == true)
                                    {
                                        <p class="content col-sm-6">:Khách sỉ</p>
                                    }
                                    else if (@Model.Customer.IsWholesale == false)
                                    {
                                        <p class="content col-sm-6">:Khách lẻ</p>
                                    }
                                    else
                                    {
                                        <p class="content col-sm-6"></p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 mx-auto pe-0">
                    <div class="card">
                        <div class="card-title pt-4 px-4 mb-0">
                            <div class="card-title d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <i class="bx bxs-user-rectangle bx-tada me-2 fs-4"></i>
                                    </div>
                                    <h5 class="mb-0 fw-bold">Địa chỉ giao hàng mới</h5>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <form class="row" asp-action="CreateShipInfo" method="post">
                            <input hidden asp-for="@Model.Customer.CustomerId">
                            <div class="card-body row ps-3">
                                <div class="col-md-12 row g-3 mt-0 ms-2">
                                    <div class="col-12">
                                        <label asp-for="@Model.ShippingInfo.CustomerName" for="inputName" class="form-label mt-0">Tên người nhận</label>
                                        <input asp-for="@Model.ShippingInfo.CustomerName" class="form-control" id="inputName" placeholder="Nhập tên">
                                        <span asp-validation-for="@Model.ShippingInfo.CustomerName" class="text-danger "></span>
                                    </div>
                                    <div class="col-12">
                                        <label asp-for="@Model.ShippingInfo.Phone" for="inputPhone" class="form-label">Số điện thoại</label>
                                        <input asp-for="@Model.ShippingInfo.Phone" type="text" class="form-control" id="inputPhone" placeholder="Nhập số điện thoại">
                                        <span asp-validation-for="@Model.ShippingInfo.Phone" class="text-danger "></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">Tỉnh/Thành Phố</label>
                                        <select asp-for="ShippingInfo.ProvinceCode" class="single-select" id="province">
                                            <option value="" selected>Chọn Tỉnh/Thành Phố</option>
                                        </select>
                                        <span asp-validation-for="ShippingInfo.ProvinceCode" class="text-danger"></span>
                                        <input id="provinceString" asp-for="ShippingInfo.Province" hidden class="form-control" />
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="ShippingInfo.DistrictCode" for="inputDob" class="form-label">Quận/Huyện</label>
                                        <select asp-for="ShippingInfo.DistrictCode" class="single-select" id="district">
                                            <option value="" selected>Chọn Quận/Huyện</option>
                                        </select>
                                        <span asp-validation-for="ShippingInfo.DistrictCode" class="text-danger"></span>
                                        <input id="districtString" asp-for="ShippingInfo.District" hidden class="form-control" />
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="ShippingInfo.WardCode" for="inputCity" class="form-label">Phường/Xã</label>
                                        <select asp-for="ShippingInfo.WardCode" class="single-select" id="ward">
                                            <option selected value="">Chọn Phường/Xã</option>
                                        </select>
                                        <span asp-validation-for="ShippingInfo.WardCode" class="text-danger"></span>

                                        <input id="wardString" asp-for="ShippingInfo.Ward" hidden class="form-control" />
                                    </div>
                                    <div class="col-md-12">
                                        <label asp-for="ShippingInfo.ShipAddress" class="form-label">Địa chỉ chi tiết</label>
                                        <textarea asp-for="ShippingInfo.ShipAddress" class="form-control" placeholder="Nhập địa chỉ chi tiết"></textarea>
                                        <span asp-validation-for="ShippingInfo.ShipAddress" class="text-danger "></span>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-success px-4">Thêm mới</button>
                                        <button type="button" onclick="window.location.href='/Admin/Customer/Details/@Model.Customer.CustomerId'" class="btn btn-primary px-4">Quay lại</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--end page-content-wrapper-->
</div>
<!--end page-wrapper-->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/address.js"></script>
}


