@using VBookHaven.Models
@using VBookHaven.Areas.Customer.Controllers
@model ProductDetailViewModel

@{
	string authors = "";
	foreach (Author a in Model.Book.Authors)
	{
		authors = authors + a.AuthorName + ", ";
	}
	if (authors.EndsWith(", "))
		authors = authors.Substring(0, authors.Length - 2);

    string imageRoot = VBookHaven.Config.ImageRoot;
}

<!-- Old code -->
@*<div class="row">
	<div class="col-6">
		@if (Model.Images.Count > 0)
		{
			<img src="~/images/img/@Model.Images[0].ImageName" width="90%">
		}
		@foreach (Image i in Model.Images)
		{
			<img src="~/images/img/@i.ImageName" width="30%">
		}
	</div>
	<div class="col-6">
		<h3>@Model.Product.Name</h3>

		@if (Model.Product.RetailDiscount != 0)
		{
			<h4><s>@Model.Product.RetailPrice</s></h4>
			<h4>@(Model.Product.RetailPrice * (100 - Model.Product.RetailDiscount) / 100)</h4>
		}
		else
		{
			<h4>@Model.Product.RetailPrice</h4>
			<h4></h4>
		}

		@if (Model.Product.IsBook == true)
		{
			@if (Model.Book.Publisher != null)
			{
				<div><b>Nhà xuất bản:</b> @Model.Book.Publisher</div>
			}
			@if (!authors.Equals(""))
			{
				<div><b>Tác giả:</b> @authors</div>
			}
			@if (Model.Book.Pages != null)
			{
				<div><b>Số trang:</b> @Model.Book.Pages</div>
			}
		}
		else
		{
			@if (Model.Stationery.Brand != null)
			{
				<div><b>Thương hiệu:</b> @Model.Stationery.Brand</div>
			}
			@if (Model.Stationery.Origin != null)
			{
				<div><b>Xuất xứ:</b> @Model.Stationery.Origin</div>
			}
		}

		<form id="add-to-cart" method="post">
			<label>Số lượng</label>	
			<input type="number" name="number" value="1" min="1"/>
			<input hidden name="id" value="@Model.Product.ProductId" />
		</form>
		<button class="btn btn-secondary" onclick="AddToCart()">Thêm vào giỏ hàng</button>
		<button class="btn btn-primary" onclick="BuyNow()">Mua ngay</button>
	</div>
</div>
<div class="row">
	<div class="col-4">
		<h4>More information</h4>
		@if (Model.Product.IsBook == true)
		{
			<div>Tác giả: @authors</div>
			<div>Nhà xuất bản: @Model.Book.Publisher</div>
			<div>Ngôn ngữ: @Model.Book.Language</div>
			<div>Số trang: @Model.Book.Pages</div>
		}
		else
		{
			<div>Thương hiệu: @Model.Stationery.Brand</div>
			<div>Xuất xứ: @Model.Stationery.Origin</div>
			<div>Chất liệu: @Model.Stationery.Material</div>
		}
		<div>Kích thước: @Model.Product.Size</div>
		<div>Khối lượng: @Model.Product.Weight</div>
	</div>
	<div class="col-8"></div>
</div>
<div class="row">
	<h3>Description</h3>
	<div>@Model.Product.Description</div>
</div>*@

<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>

<!-- Breadcrump -->
@*<!-- BREADCRUMBS SETCTION START -->
<div class="breadcrumbs-section plr-200 mb-80 section">
    <div class="breadcrumbs overlay-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs-inner">
                        <h1 class="breadcrumbs-title">Single Product Without Sidebar</h1>
                        <ul class="breadcrumb-list">
                            <li><a href="/Customer/Home">Trang chủ</a></li>
                            <li><a href="/Customer/Product">Sản phẩm</a></li>
                            <li>Chi tiết</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMBS SETCTION END -->*@

<!-- Start page content -->
<section id="page-content" class="page-wrapper section">

    <!-- SHOP SECTION START -->
    <div class="shop-section mb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- single-product-area start -->
                    <div class="single-product-area mb-80">
                        <div class="row">
                            <!-- imgs-zoom-area start -->
                            <div class="col-lg-5">
                                <div class="imgs-zoom-area">
                                    @if (Model.Images.Count > 0)
		                            {
                                        <img id="zoom_03" src="@imageRoot/images/img/@Model.Images[0].ImageName" data-zoom-image="@imageRoot/images/img/@Model.Images[0].ImageName"
                                         alt="">
		                            }
                                    else
                                    {
                                        <img id="zoom_03" src="~/cust-lib/subas/img/product/6.jpg" data-zoom-image="/cust-lib/subas/img/product/6.jpg"
                                         alt="">
                                    }
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div id="gallery_01" class="carousel-btn slick-arrow-3 mt-30">
                                                @*<div class="p-c">
                                                    <a href="#" data-image="/cust-lib/subas/img/product/2.jpg"
                                                       data-zoom-image="/cust-lib/subas/img/product/2.jpg">
                                                        <img class="zoom_03" src="~/cust-lib/subas/img/product/2.jpg" alt="">
                                                    </a>
                                                </div>*@
                                                @foreach (Image i in Model.Images)
                                                {
                                                    <div class="p-c">
                                                        <a href="#" data-image="@imageRoot/images/img/@i.ImageName"
                                                       data-zoom-image="@imageRoot/images/img/@i.ImageName">
                                                            <img class="zoom_03" src="@imageRoot/images/img/@i.ImageName" alt="">
                                                        </a>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- imgs-zoom-area end -->
                            <!-- single-product-info start -->
                            <div class="col-lg-7">
                                <div class="single-product-info">
                                    <h3 class="text-black-1">@Model.Product.Name </h3>
                                    @if (Model.Product.IsBook == true)
                                    {
                                        @if (Model.Book.Publisher != null)
                                        {
                                            <h6 class="brand-name-2"><b>Nhà xuất bản:</b> @Model.Book.Publisher</h6>
                                        }
                                        @if (!authors.Equals(""))
                                        {
                                            <h6 class="brand-name-2"><b>Tác giả:</b> @authors</h6>
                                        }
                                        @if (Model.Book.Pages != null)
                                        {
                                            <h6 class="brand-name-2"><b>Số trang:</b> @Model.Book.Pages</h6>
                                        }
                                    }
                                    else
                                    {
                                        @if (Model.Stationery.Brand != null)
                                        {
                                            <h6 class="brand-name-2"><b>Thương hiệu:</b> @Model.Stationery.Brand</h6>
                                        }
                                        @if (Model.Stationery.Origin != null)
                                        {
                                            <h6 class="brand-name-2"><b>Xuất xứ:</b> @Model.Stationery.Origin</h6>
                                        }
                                    }
                                    @*<h6 class="brand-name-2">brand name</h6>*@
                                    <!--  hr -->
                                    <hr>
                                    <!-- single-pro-color-rating -->
                                    <div class="single-pro-color-rating clearfix">
                                        <div class="sin-pro-color f-left">
                                            @*<p class="color-title f-left">Color</p>
                                            <div class="widget-color f-left">
                                                <ul>
                                                    <li class="color-1"><a href="#"></a></li>
                                                    <li class="color-2"><a href="#"></a></li>
                                                    <li class="color-3"><a href="#"></a></li>
                                                    <li class="color-4"><a href="#"></a></li>
                                                </ul>
                                            </div>*@
                                            @if (Model.Product.Status == true)
                                            {
                                                if (Model.Product.RetailDiscount != 0)
                                                {
                                                    <h6 class="pro-price" style="display: inline-block; color: #bbbbbb"><s>@Model.Product.RetailPrice</s></h6>
                                                    <h3 class="pro-price" style="display: inline-block">@(Model.Product.RetailPrice * (100 - Model.Product.RetailDiscount) / 100) VNĐ</h3>
                                                }
                                                else
                                                {
                                                    <h3 class="pro-price" style="display: inline-block">@Model.Product.RetailPrice VNĐ</h3>
                                                }
                                            }
                                            else
                                            {
                                                <h3 class="pro-price text-danger" style="display: inline-block">Sản phẩm ngừng kinh doanh</h3>
                                            }
                                            
                                            @*<h3 class="pro-price" style="display: inline-block">Price: $ 869.00</h3>*@
                                        </div>
                                        <!-- Review -->
                                        @*<div class="pro-rating sin-pro-rating f-right">
                                            <a href="#" tabindex="0"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#" tabindex="0"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#" tabindex="0"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#" tabindex="0"><i class="zmdi zmdi-star-half"></i></a>
                                            <a href="#" tabindex="0"><i class="zmdi zmdi-star-outline"></i></a>
                                            <span class="text-black-5">( 27 Rating )</span>
                                        </div>*@
                                    </div>
                                    <!-- hr -->
                                    <hr>
                                    <!-- plus-minus-pro-action -->
                                    <div class="plus-minus-pro-action clearfix">
                                        <div class="sin-plus-minus f-left clearfix">
                                            <p class="color-title f-left">Số lượng</p>
                                            <form id="add-to-cart" method="post" style="display: inline-block"
                                                action="/Customer/Order/BuyNow">
                                                <div class="cart-plus-minus f-left">
                                                    <input type="number" name="number" class="cart-plus-minus-box validate-number" step="1"
                                                           value="@((Model.Product.AvailableUnit - @Model.UnitInCart > 0)
                                                                  && (Model.Product.Status == true) ? 1 : 0)"
                                                           min="@((Model.Product.AvailableUnit - @Model.UnitInCart > 0) 
                                                                && (Model.Product.Status == true) ? 1 : 0)"
                                                           max="@(Model.Product.Status == true ? Model.Product.AvailableUnit - @Model.UnitInCart : 0)">
                                                </div>
                                                <input hidden name="id" value="@Model.Product.ProductId" />
                                            </form>    
                                        </div>
                                        <div class="sin-pro-action f-right">
                                            @*<ul class="action-button">
                                                <li>
                                                    <a href="#" title="Wishlist" tabindex="0">
                                                        <i class="zmdi zmdi-favorite"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#productModal"
                                                       title="Quickview" tabindex="0">
                                                        <i class="zmdi zmdi-zoom-in"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Compare" tabindex="0">
                                                        <i class="zmdi zmdi-refresh"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Add to cart" tabindex="0">
                                                        <i class="zmdi zmdi-shopping-cart-plus"></i>
                                                    </a>
                                                </li>
                                            </ul>*@
                                            @if (Model.Product.Status == true)
                                            {
                                                <h6 class="brand-name-2">
                                                    <b>Còn @Model.Product.AvailableUnit sản phẩm</b>
                                                </h6>
                                                <h6 class="brand-name-2">
                                                    (@Model.UnitInCart trong giỏ hàng)
                                                </h6>
                                            }
                                        </div>
                                    </div>
                                    <!-- plus-minus-pro-action end -->
                                    @*<!-- hr -->
                                    <hr>
                                    <!-- single-product-price -->
                                    <h3 class="pro-price">Price: $ 869.00</h3>*@
                                    <!--  hr -->
                                    <hr>
                                    <div>
                                        @if ((Model.Product.AvailableUnit - Model.UnitInCart > 0) && (Model.Product.Status == true))
                                        {
                                            <a href="javascript:void(0);" class="button extra-small button-black" tabindex="-1"
                                                onclick="AddToCart()">
                                                <span class="text-uppercase">Thêm vào giỏ hàng</span>
                                            </a>    
                                            <a href="javascript:void(0);" class="button extra-small button-blue" tabindex="-1"
                                                onclick="BuyNow()">
                                                <span class="text-uppercase">Mua ngay</span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="javascript:void(0);" class="button extra-small button-black" tabindex="-1"
                                               disabled style="opacity: 0.75">
                                                <span class="text-uppercase">Thêm vào giỏ hàng</span>
                                            </a>    
                                            <a href="javascript:void(0);" class="button extra-small button-blue" tabindex="-1"
                                               disabled style="opacity: 0.75">
                                                <span class="text-uppercase">Mua ngay</span>
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                            <!-- single-product-info end -->
                        </div>
                        <!-- single-product-tab -->
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- hr -->
                                <hr>
                                <div class="single-product-tab reviews-tab">
                                    <ul class="nav mb-20">
                                        <li><a class="active" href="#description" data-bs-toggle="tab">Mô tả</a></li>
                                        <li><a href="#information" data-bs-toggle="tab">Thông tin</a></li>
                                        @*<li><a href="#reviews" data-bs-toggle="tab">reviews</a></li>*@
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active show" id="description">
                                            <p style="white-space: pre-wrap">@Model.Product.Description</p>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="information">
                                            @if (Model.Product.IsBook == true)
                                            {
                                                <p><b>Tác giả:</b> @authors</p>
                                                <p><b>Nhà xuất bản:</b> @Model.Book.Publisher</p>
                                                <p><b>Ngôn ngữ:</b> @Model.Book.Language</p>
                                                <p><b>Số trang:</b> @Model.Book.Pages</p>
                                            }
                                            else
                                            {
                                                <p><b>Thương hiệu:</b> @Model.Stationery.Brand</p>
                                                <p><b>Xuất xứ:</b> @Model.Stationery.Origin</p>
                                                <p><b>Chất liệu:</b> @Model.Stationery.Material</p>
                                            }
                                        </div>
                                        <!-- Review tab -->
                                        @*<div role="tabpanel" class="tab-pane" id="reviews">
                                            <!-- reviews-tab-desc -->
                                            <div class="reviews-tab-desc">
                                                <!-- single comments -->
                                                <div class="media mt-30">
                                                    <div class="media-left">
                                                        <a href="#">
                                                            <img class="media-object" src="~/cust-lib/subas/img/author/1.jpg"
                                                                 alt="#">
                                                        </a>
                                                    </div>
                                                    <div class="media-body">
                                                        <div class="clearfix">
                                                            <div class="name-commenter pull-left">
                                                                <h6 class="media-heading">
                                                                    <a href="#">Gerald Barnes</a>
                                                                </h6>
                                                                <p class="mb-10">27 Jun, 2019 at 2:30pm</p>
                                                            </div>
                                                            <div class="pull-right">
                                                                <ul class="reply-delate">
                                                                    <li><a href="#">Reply</a></li>
                                                                    <li>/</li>
                                                                    <li><a href="#">Delate</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <p class="mb-0">
                                                            Lorem ipsum dolor sit amet, consectetur
                                                            adipiscing elit. Integer accumsan egestas .
                                                        </p>
                                                    </div>
                                                </div>
                                                <!-- single comments -->
                                                <div class="media mt-30">
                                                    <div class="media-left">
                                                        <a href="#">
                                                            <img class="media-object" src="~/cust-lib/subas/img/author/2.jpg"
                                                                 alt="#">
                                                        </a>
                                                    </div>
                                                    <div class="media-body">
                                                        <div class="clearfix">
                                                            <div class="name-commenter pull-left">
                                                                <h6 class="media-heading">
                                                                    <a href="#">Gerald Barnes</a>
                                                                </h6>
                                                                <p class="mb-10">27 Jun, 2019 at 2:30pm</p>
                                                            </div>
                                                            <div class="pull-right">
                                                                <ul class="reply-delate">
                                                                    <li><a href="#">Reply</a></li>
                                                                    <li>/</li>
                                                                    <li><a href="#">Delate</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <p class="mb-0">
                                                            Lorem ipsum dolor sit amet, consectetur
                                                            adipiscing elit. Integer accumsan egestas .
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@
                                    </div>
                                </div>
                                <!--  hr -->
                                <hr>
                            </div>
                        </div>
                    </div>
                    <!-- single-product-area end -->
                    @*<div class="related-product-area">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-title text-start mb-40">
                                    <h2 class="uppercase">related product</h2>
                                    <h6>There are many variations of passages of brands available,</h6>
                                </div>
                                <div class="active-related-product">
                                    <div class="product-item">
                                        <div class="product-img">
                                            <a href="single-product.html">
                                                <img src="~/cust-lib/subas/img/product/1.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-title">
                                                <a href="single-product.html">Product Name</a>
                                            </h6>
                                            <div class="pro-rating">
                                                <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                            </div>
                                            <h3 class="pro-price">$ 869.00</h3>
                                            <ul class="action-button">
                                                <li>
                                                    <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#productModal" title="Quickview">
                                                        <i class="zmdi zmdi-zoom-in"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-item">
                                        <div class="product-img">
                                            <a href="single-product.html">
                                                <img src="~/cust-lib/subas/img/product/1.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-title">
                                                <a href="single-product.html">Product Name</a>
                                            </h6>
                                            <div class="pro-rating">
                                                <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                            </div>
                                            <h3 class="pro-price">$ 869.00</h3>
                                            <ul class="action-button">
                                                <li>
                                                    <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#productModal" title="Quickview">
                                                        <i class="zmdi zmdi-zoom-in"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-item">
                                        <div class="product-img">
                                            <a href="single-product.html">
                                                <img src="~/cust-lib/subas/img/product/1.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-title">
                                                <a href="single-product.html">Product Name</a>
                                            </h6>
                                            <div class="pro-rating">
                                                <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                            </div>
                                            <h3 class="pro-price">$ 869.00</h3>
                                            <ul class="action-button">
                                                <li>
                                                    <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#productModal" title="Quickview">
                                                        <i class="zmdi zmdi-zoom-in"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-item">
                                        <div class="product-img">
                                            <a href="single-product.html">
                                                <img src="~/cust-lib/subas/img/product/1.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-title">
                                                <a href="single-product.html">Product Name</a>
                                            </h6>
                                            <div class="pro-rating">
                                                <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                            </div>
                                            <h3 class="pro-price">$ 869.00</h3>
                                            <ul class="action-button">
                                                <li>
                                                    <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#productModal" title="Quickview">
                                                        <i class="zmdi zmdi-zoom-in"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
    <!-- SHOP SECTION END -->

</section>
<!-- End page content -->

@section Scripts
{
    <script src="~/js/ValidateUnitInCart.js"></script>
}
