@using VBookHaven.Models
@using VBookHaven.Areas.Customer.Controllers
@model ProductBuyingViewModel

@{
    string imageRoot = VBookHaven.Config.ImageRoot;
}

@* Old code *@
@*<table>
	<tr>
		<th>Thumbnail</th>
		<th>Name</th>
		<th>Price</th>
		<th>Discount</th>
		<th>Final Price</th>
	</tr>
	@foreach (Product p in Model.Products)
	{
		int id = p.ProductId;
		<tr>
			@if (Model.Thumbnails[id] != null)
			{
				<td width="20%"><img src="~/images/img/@Model.Thumbnails[id]" width="100%"></td>
			}
			else 
			{
				<td></td>
			}
			<td><a href="/customer/product/detail/@id">@p.Name</a></td>
			@if (p.RetailDiscount != 0)
			{
				<td><s>@p.RetailPrice</s></td>
				<td>@p.RetailDiscount%</td>
				<td>@(p.RetailPrice * (100 - p.RetailDiscount) / 100)</td>
			}
			else
			{
				<td>@p.RetailPrice</td>
				<td></td>
				<td></td>
			}
		</tr>
	}
</table>*@

<!-- Breadcrump -->
@*<!-- BREADCRUMBS SETCTION START -->
<div class="breadcrumbs-section plr-200 mb-80 section">
    <div class="breadcrumbs overlay-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs-inner">
                        <h1 class="breadcrumbs-title">product grid view</h1>
                        <ul class="breadcrumb-list">
                            <li><a href="/Customer/Home">Trang chủ</a></li>
                            <li>Sản phẩm</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMBS SETCTION END -->*@

<!-- Start page content -->
<div id="page-content" class="page-wrapper section">

    <!-- SHOP SECTION START -->
    <div class="shop-section mb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 order-lg-2 order-1">
                    <div class="shop-content">
                        <!-- shop-option start -->
                        <div class="shop-option box-shadow mb-30 clearfix">
                            <!-- sort-by -->
                            <div class="short-by f-left text-center">
                                <span>Sắp xếp theo :</span>
                                <select onchange="ChangeSortingProductCust(this)" asp-items="@Model.SortList">
                                    @*<option value="newest">Sản phẩm mới nhất</option>
                                    <option value="oldest">Sản phẩm cũ nhất</option>
                                    <option value="price-asc">Giá thấp -> cao</option>
                                    <option value="price-desc">Giá cao -> thấp</option>*@
                                </select>
                            </div>
                            <!-- showing -->
                            <div class="showing f-right text-end">
                                <span>Sản phẩm @Model.First-@Model.Last trên tổng cộng @Model.Total.</span>
                            </div>
                        </div>
                        <!-- shop-option end -->
                        <!-- Tab Content start -->
                        <div class="tab-content">
                            <!-- grid-view -->
                            <div id="grid-view" class="tab-pane active show" role="tabpanel">
                                <div class="row">
                                    @foreach (Product p in Model.Products)
                                    {
                                        int id = p.ProductId;
                                        <!-- product-item start -->
                                        <div class="col-lg-4 col-md-6">
                                            <div class="product-item">
                                                <div class="product-img">
                                                    <a href="/customer/product/detail/@id">
                                                        @if (Model.Thumbnails[id] != null)
                                                        {
                                                            <img src="@imageRoot/images/img/@Model.Thumbnails[id]" alt="" />
                                                        }
                                                        else
                                                        {
                                                            <img src="~/images/default_image.png" alt="" />
                                                        }
                                                    </a>
                                                </div>
                                                <div class="product-info">
                                                    <h6 class="product-title">
                                                        <a href="/customer/product/detail/@id">@p.Name </a>
                                                    </h6>
                                                    @*<div class="pro-rating">
                                                        <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                        <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                        <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                        <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                                        <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                                    </div>*@
                                                    @if (p.RetailDiscount != 0)
                                                    {
                                                        <h5 class="pro-price" style="margin-bottom: 10px; color: #bbbbbb"><s>@p.RetailPrice VNĐ</s></h5>
                                                        <h3 class="pro-price">@(p.RetailPrice * (100 - p.RetailDiscount) / 100) VNĐ</h3>
                                                    }
                                                    else
                                                    {
                                                        <h5 class="pro-price" style="margin-bottom: 0px;">&nbsp;</h5>
                                                        <h3 class="pro-price" style="margin-bottom: 30px;">@p.RetailPrice VNĐ</h3>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <!-- product-item end -->
                                    }
                                </div>
                            </div>
                        </div>
                        <!-- Tab Content end -->
                        <!-- shop-pagination start -->
                        @*<ul class="shop-pagination box-shadow text-center ptblr-10-30">
                            <li><a href="#"><i class="zmdi zmdi-chevron-left"></i></a></li>
                            <li><a href="#">01</a></li>
                            <li><a href="#">02</a></li>
                            <li><a href="#">03</a></li>
                            <li><a href="#">...</a></li>
                            <li><a href="#">05</a></li>
                            <li class="active"><a href="#"><i class="zmdi zmdi-chevron-right"></i></a></li>
                        </ul>*@
                        <ul class="dynamic-pagination shop-pagination box-shadow text-center ptblr-10-30"
                            data-current="@Model.Page"
                            data-total="@Model.TotalPage"
                            data-delta="1"
                            data-form-id="cust-product-search-form">
                        </ul>
                        <!-- shop-pagination end -->
                    </div>
                </div>
                <div class="col-lg-3 order-lg-1 order-2">
                    <form id="cust-product-search-form" method="get">
                        <!-- widget-search -->
                        <aside class="widget-search mb-30">
                            <input type="text" name="search" placeholder="Tìm kiếm..." value="@Model.SearchText">
                            <button type="submit"><i class="zmdi zmdi-search"></i></button>
                        </aside>
                        <!-- widget-categories -->
                        <aside class="widget widget-categories box-shadow mb-30">
                            <h6 class="widget-title border-left mb-20">Loại sản phẩm</h6>
                            <div id="cat-treeview" class="product-cat">
                                <ul>
                                    @*<li class="closed">
                                        <a href="#">Brand One</a>
                                        <ul>
                                            <li><a href="#">Mobile</a></li>
                                            <li><a href="#">Tab</a></li>
                                            <li><a href="#">Watch</a></li>
                                            <li><a href="#">Head Phone</a></li>
                                            <li><a href="#">Memory</a></li>
                                        </ul>
                                    </li>
                                    <li class="open">
                                        <a href="#">Brand Two</a>
                                        <ul>
                                            <li><a href="#">Mobile</a></li>
                                            <li><a href="#">Tab</a></li>
                                            <li><a href="#">Watch</a></li>
                                            <li><a href="#">Head Phone</a></li>
                                            <li><a href="#">Memory</a></li>
                                        </ul>
                                    </li>*@
                                    @foreach (Category c in Model.Categories)
                                    {
                                        string isOpen;
                                        if (Model.SelectedCategories.Contains(c.CategoryId))
                                        {
                                            isOpen = "open";
                                        }
                                        else
                                        {
                                            isOpen = "closed";
                                        }
                                        <li class="@isOpen">
                                            <label>@c.CategoryName</label>
                                            <ul>
                                                @foreach (SubCategory s in c.SubCategories)
                                                {
                                                    if (Model.SelectedSubCategories.Contains(s.SubCategoryId))
                                                    {
                                                        <li><label><input type="checkbox" checked name="subCat" value="@s.SubCategoryId">@s.SubCategoryName</label></li>
                                                    }
                                                    else
                                                    {
                                                        <li><label><input type="checkbox" name="subCat" value="@s.SubCategoryId">@s.SubCategoryName</label></li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </aside>
                        <!-- shop-filter -->
                        <aside class="widget shop-filter box-shadow mb-30">
                            <h6 class="widget-title border-left mb-20">Giá</h6>
                            <div class="price_filter">
                                <div class="price_slider_amount">
                                    @*<input type="submit" value="You range :" />
                                    <input type="text" id="amount" name="price" placeholder="Add Your Price" readonly/>*@
                                    <label for="min-price" style="width: 20%"><b>Từ: </b></label>
                                    <input type="number" id="min-price" name="minPrice" min="0" 
                                        value="@(Model.MinPrice == null ? "" : Model.MinPrice)" 
                                        style="float: none" /> VNĐ<br />
                                    <label for="max-price" style="width: 20%"><b>Đến: </b></label>
                                    <input type="number" id="max-price" name="maxPrice" min="0" 
                                        value="@(Model.MaxPrice == null ? "" : Model.MaxPrice)" 
                                        style="float: none; margin-bottom: 20px" /> VNĐ<br />
                                </div>
                                @*<div id="slider-range"></div>*@
                            </div>
                        </aside>
                        <!-- widget-color -->
                        @*<aside class="widget widget-color box-shadow mb-30">
                        <h6 class="widget-title border-left mb-20">color</h6>
                        <ul>
                        <li class="color-1"><a href="#">LightSalmon</a></li>
                        <li class="color-2"><a href="#">Dark Salmon</a></li>
                        <li class="color-3"><a href="#">Tomato</a></li>
                        <li class="color-4"><a href="#">Deep Sky Blue</a></li>
                        <li class="color-5"><a href="#">Electric Purple</a></li>
                        <li class="color-6"><a href="#">Atlantis</a></li>
                        </ul>
                        </aside>*@
                        <!-- operating-system -->
                        @*<aside class="widget operating-system box-shadow mb-30">
                        <h6 class="widget-title border-left mb-20">operating system</h6>
                        <form action="action_page.php">
                        <label><input type="checkbox" name="operating-1" value="phone-1">Windows Phone</label><br>
                        <label><input type="checkbox" name="operating-1" value="phone-1">Bleckgerry ios</label><br>
                        <label><input type="checkbox" name="operating-1" value="phone-1">Android</label><br>
                        <label><input type="checkbox" name="operating-1" value="phone-1">ios</label><br>
                        <label><input type="checkbox" name="operating-1" value="phone-1">Windows Phone</label><br>
                        <label><input type="checkbox" name="operating-1" value="phone-1">Symban</label><br>
                        <label class="mb-0"><input type="checkbox" name="operating-1" value="phone-1">Bleckgerry os</label><br>
                        </form>
                        </aside>*@
                        <!-- widget-product -->
                        @*<aside class="widget widget-product box-shadow">
                            <h6 class="widget-title border-left mb-20">recent products</h6>
                            <!-- product-item start -->
                            <div class="product-item">
                                <div class="product-img">
                                    <a href="single-product.html">
                                        <img src="~/cust-lib/subas/img/product/4.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="product-info">
                                    <h6 class="product-title">
                                        <a href="single-product.html">Product Name</a>
                                    </h6>
                                    <h3 class="pro-price">$ 869.00</h3>
                                </div>
                            </div>
                            <!-- product-item end -->
                            <!-- product-item start -->
                            <div class="product-item">
                                <div class="product-img">
                                    <a href="single-product.html">
                                        <img src="~/cust-lib/subas/img/product/8.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="product-info">
                                    <h6 class="product-title">
                                        <a href="single-product.html">Product Name</a>
                                    </h6>
                                    <h3 class="pro-price">$ 869.00</h3>
                                </div>
                            </div>
                            <!-- product-item end -->
                            <!-- product-item start -->
                            <div class="product-item">
                                <div class="product-img">
                                    <a href="single-product.html">
                                        <img src="~/cust-lib/subas/img/product/12.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="product-info">
                                    <h6 class="product-title">
                                        <a href="single-product.html">Product Name</a>
                                    </h6>
                                    <h3 class="pro-price">$ 869.00</h3>
                                </div>
                            </div>
                            <!-- product-item end -->
                        </aside>*@
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- SHOP SECTION END -->

</div>
<!-- End page content -->