@using VBookHaven.Models
@model List<Author>
@{
    ViewData["Title"] = "Danh sách tác giả";
}

<!-- Old code -->
@*<style>
	table, th, td {
		border: 1px solid;
	}
	table {
		border-collapse: collapse;
	}
</style>

<!--page-wrapper-->
<div class="page-wrapper">
	<!--page-content-wrapper-->
	<div class="page-content-wrapper">
		<div class="page-content">
			<a href="/admin/author/add">Add author</a>
			<table>
				<tr>
					<th>ID</th>
					<th>Tên</th>
					<th>Trạng thái</th>
					<th>Sửa</th>
					<th>Đổi trạng thái</th>
				</tr>
				@foreach (Author a in Model)
				{
					<tr>
						<td>@a.AuthorId</td>
						<td>@a.AuthorName</td>

						@if (a.Status == true)
						{
							<td><span class="text-success">Hoạt động</span></td>
						}
						else
						{
							<td><span class="text-danger">Đình chỉ</span></td>
						}

						<td><a href="/admin/author/edit/@a.AuthorId">Edit</a></td>

						@if (a.Status == true)
						{
							<td><a href="/admin/author/changestatus/@a.AuthorId" class="text-danger">Inactivate</a></td>
						}
						else
						{
							<td><a href="/admin/author/changestatus/@a.AuthorId" class="text-success">Activate</a></td>
						}
					</tr>
				}
			</table>
		</div>
	</div>
	<!--end page-content-wrapper-->
</div>
<!--end page-wrapper-->*@

<!--page-wrapper-->
<div class="page-wrapper">
	<!--page-content-wrapper-->
	<div class="page-content-wrapper">
		<div class="page-content">
			<!--breadcrumb-->
			<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
				<div class="breadcrumb-title pe-3">Tác giả</div>
				<div class="ps-3">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb mb-0 p-0">
							<li class="breadcrumb-item">
								<a href="javascript:;">
									<i class="bx bx-home-alt"></i>
								</a>
							</li>
							<li class="breadcrumb-item active" aria-current="page">Tác giả</li>
						</ol>
					</nav>
				</div>
			</div>
			<!--end breadcrumb-->
			<div class="card">
				<div class="card-body">
					<div class="card-title">
						<h4 class="mb-0">Quản lí tác giả</h4>
					</div>
					<hr />
					<div class="mb-3 row">
						<div class="accordion col-8" id="accordionExample">
							<div class="accordion-item">
								<h3 class="accordion-header" id="headingOne">
									<button class="accordion-button collapsed" type="button"
											data-bs-toggle="collapse" data-bs-target="#filler" aria-expanded="false"
											aria-controls="filler">
										BỘ LỌC
									</button>
								</h3>
								<div id="filler" class="accordion-collapse collapse"
									 aria-labelledby="headingOne" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										<form class="row" action="">
											<div class="col-md-6 mb-2">
												<label class="form-label">Tên tác giả hoặc ID</label>
												<input type="text" class="form-control filter"
													   id="searchInput" placeholder="Nhập từ khóa vào đây...">
											</div>
											<div class="col-md-6 mb-2">
												<label class="form-label">Trạng thái</label>
												<select class="form-select filter" id="activation">
													<option value="" selected>--Không--</option>
													<option value="true">Hoạt động</option>
													<option value="false">Đình chỉ</option>
												</select>
											</div>
											<!-- <div class="col-md-4"></div>
											<input type="submit" class="btn btn-primary mt-3 col-md-4" value="Lọc">
											<div class="col-md-4"></div> -->
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="col-4">
							<button type="button" class="btn btn-success">Nhập file</button>
							<button type="button" class="btn btn-success">Xuất file</button>
							<button type="button" class="btn btn-primary" data-bs-toggle="modal"
									data-bs-target="#add">
								Thêm tác giả
							</button>

							<div class="modal fade" id="add" tabindex="-1" aria-labelledby="exampleModalLabel"
								 aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">
												Thêm tác giả mới
											</h5>
										</div>
										<div class="modal-body">
											<div class="col-md-12 mb-3">
												<label class="form-label">Tên tác giả</label>
												<input id="authorName" type="text" class="form-control" value="" required />
											</div>
											<div class="col-md-12 mb-3">
												<label class="form-label">Mô tả</label>
												<textarea class="form-control" id="authorDescription" cols="30" rows="5"></textarea>
											</div>
										</div>
										<div class="modal-footer">
											<button id="cancelButton" type="button" class="btn btn-secondary"
													data-bs-dismiss="modal">
												Hủy
											</button>
											<button id="saveButton" type="button" class="btn btn-primary">Lưu</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="table-responsive mt-3 text-center">
							<table id="example2" class="table table-striped" style="width:100%">
								<thead>
									<tr>
										<th>ID</th>
										<th>Tác giả</th>
										<th>Trạng thái</th>
										<th>Hoạt động</th>
										<th hidden>Status text</th>
									</tr>
								</thead>
								<tbody id="myTable">
									@foreach (Author a in Model)
									{
										<tr>
											<td>@a.AuthorId</td>
											<td>@a.AuthorName</td>
											<td>
												<div class="form-switch ps-0">
													<input class="form-check-input fs-5 m-0 mx-auto authorStatus" type="checkbox"
														@(@a.Status == true ? "checked" : "") />
												</div>
											</td>
											<td>
												<a href="/Admin/Author/Edit/@a.AuthorId" class="btn btn-sm btn-default">
													<i class="lni lni-pencil-alt"></i>
												</a>
											</td>
											<td hidden>@a.Status</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end page-content-wrapper-->
	</div>
	<!--end page-wrapper-->
	<!--start overlay-->
	<div class="overlay toggle-btn-mobile"></div>
	<!--end overlay-->
	<!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top">
		<i class='bx bxs-up-arrow-alt'></i>
	</a>
	<!--End Back To Top Button-->
	<!--footer -->
	@*<div class="footer">
	<p class="mb-0">Syndash @2020 | Developed By : <a href="https://themeforest.net/user/codervent"
	target="_blank">codervent</a>
	</p>
	</div>*@
	<!-- end footer -->
</div>
<!-- end wrapper -->

@section Scripts{
	<script>
		// Filter script
		$(document).ready(function () {
			$(".filter").on("input", function () {
				filterAuthor();
			});
			
			$("#saveButton").on("click", function() {
				addAuthorByAPI();
			});

			$("#cancelButton").on("click", function() {
				resetAddAuthorForm();
			});

			$(".authorStatus").on("change", function() {
				changeStatus(this);
			});
		});


		// Filter Author
		function filterAuthor()
		{
			var search = $("#searchInput").val().toLowerCase();
			var activation = $("#activation").val().toLowerCase();

			$("#myTable tr").filter(function () {
				$(this).toggle(
					($(this).find('td:eq(0)').text().toLowerCase().indexOf(search) > -1
						|| $(this).find('td:eq(1)').text().toLowerCase().indexOf(search) > -1)
					&& $(this).find('td:eq(4)').text().toLowerCase().indexOf(activation) > -1
				);
			})
		}

		// Add new author script
		function addAuthorByAPI() {
			var name = $('#authorName').val();
			var description = $('#authorDescription').val();
			var author = {
				"authorId": 0,
				"authorName": name,
				"description": description,
				"status": true
			}
			$.ajax({
				url: "https://localhost:7123/Admin/Author/Add", // Replace with the correct API endpoint URL
				type: "POST",
				contentType: "application/json",
				data: JSON.stringify(author),
				success: function (response) {
					// add new author to table
					var newRow = `
						<tr>
							<td>${response.authorId}</td>
							<td>${response.authorName}</td>
							<td>
								<div class="form-switch ps-0">
									<input class="form-check-input fs-5 m-0 mx-auto" type="checkbox"
										${response.status == true ? "checked" : ""} />
								</div>
							</td>
							<td>
								<a href="/Admin/Author/Edit/${response.authorId}" class="btn btn-sm btn-default">
									<i class="lni lni-pencil-alt"></i>
								</a>
							</td>
							<td hidden>${response.status}</td>
						</tr>
					`
					$("#example2").append(newRow);

					//reset form
					resetAddAuthorForm();
					round_success_noti("Thêm tác giả thành công");

				},
				error: function (error) {
					round_error_noti(error.responseText);
					resetAddAuthorForm();
					console.error("Lỗi gọi addAuthor API: " + error.responseText);
				},
			});
		}

		// Reset add form
		function resetAddAuthorForm() {
			// Clear input fields (set their values to empty strings)
			$("#authorName").val('');
			$("#authorDescription").val('');
		}

		// Change Author status
		function changeStatus(element)
		{
			var row = $(element).parents("tr").last();
			var id = $(row).children("td").eq(0).text();

			$.ajax({
				url: "https://localhost:7123/Admin/Author/ChangeStatus", // Replace with the correct API endpoint URL
				type: "POST",
				contentType: "application/json",
				data: id,
				success: function () {
					$(row).children("td").eq(4).text($(element).prop("checked"));

					filterAuthor();
				},
				error: function (error) {
					var prev = $(element).prop("checked");
					$(element).prop("checked", !prev);
					
					round_error_noti(error.responseText);
					resetAddAuthorForm();
					console.error("Lỗi gọi changeStatus API: " + error.responseText);
				},
			});
		}
	</script>
}